.fixed-nav {
	width: 180px;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background: #262626;
	z-index: 10;
}

.fixed-nav .logo {
	position: absolute;
	width: 160px;
	background-size: 100%;
	top: 30px;
	z-index:111;
	left: 10px;
}

.fixed-nav .logo img {
	display: block;
	width: 100%;
}

.fixed-nav .meun {
	width: 56px;
	height: 56px;
	background-color: #EDEAEA;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	left: 60px;
	bottom: 30px;
	transition:0.4s;
	z-index: 1111;
}

.fixed-nav .meun .circle {
	width: 56px;
	height: 56px;
	position: absolute;
	background-color: #EDEAEA;
	border-radius: 50%;
	left: 0;
	top: 0;
	transition: 0.5s;
}

.fixed-nav .meun:hover .circle {
	transform: scale(1.2);
}

.fixed-nav .meun span {
	width: 2px;
	height: 18px;
	display: block;
	background-color: #000;
	float: left;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: 0.2s;
}

.fixed-nav .meun span:nth-of-type(1) {
	transform: translateX(calc(-50% - 6px)) translateY(-50%);
}

.fixed-nav .meun span:nth-of-type(3) {
	transform: translateX(calc(-50% + 6px)) translateY(-50%);
}

.fixed-nav .nav {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	z-index: 100;
	width: 180px;
}

.fixed-nav .nav .nav-all {
	width: 180px;
	height: 352px;
	z-index: 100;
}

.fixed-nav .nav .nav-all>li {
	width: 100%;
	text-align: center;
	font-size: 14px;
	line-height: 32px;
	z-index: 1;
}

.fixed-nav .nav .nav-all>li.active>a {
	color: #E50012;
}

.fixed-nav .nav .nav-all>li>a {
	color: #fff;
	width: 100%;
	display: block;
	transition: 0.3s;
}

.fixed-nav .nav .nav-all>li .nav-all-item {
	position: absolute;
	left: 180px;
	top: 0;
	height: 100vh;
	width: 0;
	background: #444;
	transition: 0.4s;
	z-index: -1;
}

.fixed-nav .nav .nav-all>li:hover .nav-all-item {
	width: 180px;
	z-index: 1;
}

.fixed-nav .nav .nav-all>li:hover .nav-all-item li {
	opacity: 1;
}

.fixed-nav .nav .nav-all>li ul {
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.fixed-nav .nav .nav-all>li ul li {
	font-size: 14px;
	line-height: 35px;
	border-bottom: 1px solid #545454;
	overflow: hidden;
	height: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	opacity: 0;
	transition: 0.4s;
}

.fixed-nav .nav .nav-all>li ul li a {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
}

.fixed-nav .nav .nav-all>li ul li a:hover {
	background: #E50012;
}


.fixed-nav .nav .nav-all>li>a:hover {
	color: #E50012;
}

.fixed-nav .nav .nav-right {
	width:0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 180px;	
	background: #262626;
}

header {
	display:none;
	width: 100%;
	height: 64px;
	padding: 11px 20px;
	box-sizing: border-box;
	background: #FFFFFF;
	position: fixed;
	z-index: 1111;
	left: 0;
	top: 0;
}

.head {
	display: flex;
	justify-content: space-between;
}

.head .logo {
	width: 148px;
}

.head .logo img {
	display: block;
	width: 100%;
}

.head .meun {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: relative;
	display: flex;
	background: #EDEAEA;
	transition: 0.4s;
	cursor: pointer;
}

.head .meun .meun-bg {
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	background: #000000;
	z-index: 1;
}

.head .meun span {
	width: 2px;
	height: 18px;
	display: block;
	background: #000;
	margin-top: 11px;
	margin-right: 4px;
	z-index: 4;
	transition: 0.4s;
}

.head .meun span:nth-of-type(1) {
	margin-left: 13px;
}

header .nav {
	position: absolute;
	left: -100%;
	top: 99%;
	background: #fff;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
}

header .nav>ul {
	width: 100%;
}

header .nav>ul>li {
	text-align: right;
	position: relative;
	cursor: pointer;
}

header .nav ul li a {
	width: 50%;
	display: block;
	margin-left: 50%;
	font-size: 15px;
	line-height: 36px;
	color: #333;
	padding: 0 20px;
	box-sizing: border-box;
}

header .nav>ul li .nav-item {
	position: absolute;
	width: 0%;
	left: 0;
	top: 0;
	background: #444444;
	overflow: hidden;
}

header .nav>ul>li.active>a {
	background: #444;
	color: #fff;
}

header .nav>ul li .nav-item ul {
	width: 100%;
}

header .nav>ul li .nav-item li {
	overflow: hidden;
	height: 36px;
}

header .nav>ul li .nav-item li a {
	color: #FFFFFF;
	display: block;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	margin-left: 0;
}

header .nav>ul li.active .nav-item {
	width: 50%;
	animation: item 0.6s;
	z-index: 10;
}

@keyframes item {
	0% {
		width: 0;
		left: 50%;
	}

	40% {
		width: 0;
		left: 50%;
	}

	100% {
		width: 50%;
		left: 0;
	}
}

.search {
	position: fixed;
	right:3%;
	top: 30px;
	display: flex;
	z-index:-1;
}

.search .search-box {
	font-size: 14px;
	line-height:26px;
	height:27px;
	overflow:hidden;
	color: #fff;
}

.search .search-box .telep {
	padding-left: 20px;
	padding-right:20px;
	background: url(../img/public/icon3.png) no-repeat left center;
}

.search .search-box .search-input {
	position: relative;
	display:none;
	animation:inputHide 0.7s ease-out;
}
.search .search-box .search-input.show{
	animation:inputShow 0.7s ease-out;
	transform:translateX(0)
}
@keyframes inputShow{
	0%{
		transform:translateX(100%);
	}
	100%{
		transform:translateX(0);
	}
}
@keyframes inputHide{
	0%{
		transform:translateX(0);
	}
	100%{
		transform:translateX(100%);
	}
}

.search .search-box .search-input input {
	width: 160px;
	border: none;
	border-bottom: 1px solid #ccc;
	height: 20px;
	line-height: 24px;
	padding-left: 25px;
	background: transparent;
	outline: none;
	color:#FFFFFF;
}

.search .search-box .search-input input::placeholder {
	color: #ccc;
}

.search .search-box .search-input span {
	width: 14px;
	height: 14px;
	display: block;
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translateY(-60%);
	background: url(../img/public/close.png) no-repeat;
	transition:0.5s;
	cursor:pointer;
}
.search .search-box .search-input span:hover{
	transform:rotate(180deg) translateY(8px);
}
.search>span {
	width: 16px;
	height: 24px;
	cursor: pointer;
	display: block;
	background: url(../img/public/head_icon3.png) no-repeat center center;
}



@media screen and (max-width:992px) {
	header{
		display:block;
	}
	.fixed-nav{
		display:none;
	}
	.search{
		top:75px;
	}
}