/* 设置滚动条的样式 */
::-webkit-scrollbar {
	width: 6px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
	background: #CCCCCC;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
	background: #E50012;
}

body {
	overflow-x: hidden;
}

.section {
	width: calc(100% - 180px);
	margin-left: 180px;
}

.section {
	position: relative;
}

.section>div {
	padding: 60px;
	box-sizing: border-box;
}

.section>div .title {
	text-align: center;
}

.section>div .title h3 {
	font-size: 26px;
	font-weight: normal;
	color: #333;
}

.section>div .title span {
	font-size: 14px;
	color: #bfbfbf;
}

.section .section-1 {
	width: calc(100% - 180px);
	height: 100vh;
	background: url(../../img/news/ban_img1.jpg) no-repeat center center;
	background-size: cover;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
	padding: 0;
}

.section .section-1 .section1-title {
	position: absolute;
	top: 50%;
	left: 80px;
	transform: translateY(-50%);
	color: #fff;
}

.section .section-1 .section1-title h2 {
	font-size: 40px;
	line-height: 60px;
}

.section .section-1 .section1-title span {
	font-size: 30px;
	opacity: 0.4;
	display:block;
}

.section .section-1 .section1-title p {
	padding: 15px;
	margin-top: 10px;
	font-size: 20px;
	background-color: #e50012;
}

.section .section1-hint {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 16px;
	color: #fff;
}

.section .section1-hint span {
	width: 20px;
	height: 10px;
	display: block;
	background: url(../../img/news/scroll_down.png) no-repeat left top;
	margin: 0 auto;
	opacity: 0;
}


.section .section1-hint span:nth-of-type(1) {
	animation: firstSpan 1s infinite;
	margin-top: 10px;
}

.section .section1-hint span:nth-of-type(2) {
	animation: SecondSpan 1s infinite;
}

.section .section1-hint span:nth-of-type(3) {
	animation: ThirdSpan 1s infinite;
}

@keyframes firstSpan {
	0% {
		opacity: 0;
	}

	20% {
		opacity: .3;
	}

	40% {
		opacity: .3;
	}

	90% {
		opacity: .3;
	}

	100% {
		opacity: 0;
	}
}

@keyframes SecondSpan {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	40% {
		opacity: .3;
	}

	60% {
		opacity: .5;
	}

	90% {
		opacity: .5;
	}

	100% {
		opacity: 0;
	}
}

@keyframes ThirdSpan {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	40% {
		opacity: 0.2;
	}

	50% {
		opacity: 0.6;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.now-location {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 60px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.2);
	text-align: right;
	font-size: 12px;
	color: #fff;
}

.now-location i {
	background: url(../../img/news/common_icon3.png) no-repeat;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 10px;
	margin-bottom: -2px;
}

.now-location a {
	color: #fff;
}



.section-2{
	margin-top:100vh;
	padding:60px 0!important;
	background:#FFFFFF;
}
.section-2 .section2-content ul{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	display:none;
}
.section-2 .section2-content ul.active{
	display:flex;
}

.section-2 .section2-content ul li{
	width:24%;
	padding:3%;
	box-sizing:border-box;
	background:#F2F2F2;
	transition:0.5s;
	margin-bottom:1.5%;
}
.section-2 .section2-content ul li:nth-of-type(1),
.section-2 .section2-content ul li:nth-of-type(2){
	width:49%;
}
.section-2 .section2-content ul li:nth-of-type(1) h4 a,
.section-2 .section2-content ul li:nth-of-type(2) h4 a{
	font-size:18px;
	line-height:28px;
}
.section-2 .section2-content ul li i{
	display:block;
	overflow:hidden;
}
.section-2 .section2-content ul li img{
	display:block;
	width:100%;
	transition:0.4s;
}
.section-2 .section2-content ul li h4{
	margin-top:20px;
}
.section-2 .section2-content ul li h4 a{
	font-size:14px;
	line-height:24px;
	color:#333333;
	font-weight:normal;
}
.section-2 .section2-content ul li p{
	font-size:14px;
	color:#999999;
	margin:15px 0;
}
.section-2 .section2-content ul li p span{
	display:inline-block;
	padding-left:25px;
}
.section-2 .section2-content ul li p span:nth-of-type(1){
	background:url(../../img/news/news_ico1.png) no-repeat left center;
}

.section-2 .section2-content ul li p span:nth-of-type(2){
	background:url(../../img/news/news_ico2.png) no-repeat left center;
	margin-left:20px;
}

.section-2 .section2-content ul li .more{
	display:inline-block;
	padding:5px 30px;
	border-radius:30px;
	color:#999999;
	font-size:14px;
	border:1px solid #D9d9d9;
	transition:0.4s;
}
.section-2 .section2-content ul li:hover img{
	transform:scale(1.1);
}
.section-2 .section2-content ul li:hover .more{
	background:#E50012;
	transform:translateY(-5px);
	color:#FFFFFF;
}
.section-2 .paging-box{
	position:relative;
	padding:60px 0;
}
.section-2 .paging-box .paging{
	display:flex;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
}
.section-2 .paging div,
.section-2 .paging-box span{
	width:40px;
	height:40px;
	line-height:40px;
	font-size:14px;
	text-align:center;
	display:block;
	cursor:pointer;
	transition:0.4s;
}
.section-2 .paging-box span.active,
.section-2 .paging-box span:hover,
.section-2 .paging div:hover{
	background:#E50012;
	color:#FFFFFF;
}

@media screen and (max-width:992px) {
	.section {
		width: 100%;
		margin-left: 0;
	}

	.section>div {
		padding: 5%;
	}

	.title h3 {
		font-size: 20px !important;

	}

	.section .section-1 {
		width: 100% !important;
	}

	.section .section-1 .section1-title {
		left: 50px;
		margin-right: 50px;
	}

	.section .section-1 .section1-title h2 {
		font-size: 24px;
		line-height: 30px;
	}

	.section .section-1 .section1-title span {
		font-size: 20px
	}

	.section .section-1 .section1-title p {
		font-size: 16px
	}
	.section-2 .section2-content ul li{
		width:100%!important;
	}
}