/* CSS-禁止选中网页上的文字、图片 */
body {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	overflow-x:hidden;
}

.loader-logo {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 10000;
	left:0;
	top:0;
	background: #fff;
}
.loader-logo.change{
	width:calc(100% - 180px);
	left:180px;
}

.loader-logo .logo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.mouse-hint {
	width: 100%;
	height: 100vh;
	position: fixed;
	background: rgba(0, 0, 0, 0.3);
	display: none;
	z-index: 100;
}

.mouse-hint div {
	width: 240px;
	height: 240px;
	background: #272424;
	border-radius: 50%;
	position: fixed;
	right: 60px;
	bottom: 60px;

}

.mouse-hint div span.mouse {
	display: block;
	background: url(../img/home/mouse_icon1.png) no-repeat 0 0;
	width: 37px;
	height: 70px;
	margin: 0 auto;
	margin-top: 55px;
	position: relative;
}

.mouse-hint div span.mouse i {
	display: block;
	width: 5px;
	height: 13px;
	position: absolute;
	left: 16px;
	top: 9px;
	background: url(../img/home/mouse_icon2.png) no-repeat 0 0;
	animation: 2s trolley infinite;
}

@keyframes trolley {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.mouse-hint div h3 {
	font-size: 16px;
	text-align: center;
	color: #fff;
	line-height: 18px;
	margin-top: 20px;
	font-weight: normal;
	letter-spacing: 1px;
}

.mouse-hint div p {
	font-size: 12px;
	text-align: center;
	color: #fff;
	opacity: 0.3;
}


.fixed-nav {
	width: 810px;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background:#262626;
	z-index: 10;
	opacity:0;
}

.fixed-nav .logo {
	position: absolute;
	width: 810px;
	background: #FFFFFF;
	left: 0;
	top: 50%;
	background-size: 100%;
	transform: translateY(-50%);
	animation: 0.6s logeChangeBig;
}
.fixed-nav .logo img{
	display:block;
	width:100%;
}
.fixed-nav .logo img:nth-of-type(2){
	display:none;
}
.fixed-nav .logo-change img{
	display:block;
	width:100%;
}
.fixed-nav .logo-change {
	position: absolute;
	animation: 0.6s logeChangeSmall;
	width: 180px;
	background-size: 100%;
	top: 20px;
	background:#FFFFFF;
}

@keyframes logeChangeBig {
	0% {
		width: 180px;
		left: 0;
		top: 20px;
		transform: none;
	}
	100% {
		width: 100%;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}
@keyframes logeChangeSmall {
	0% {
		width: 100%;
		left: 0;
		top: 50%;
	}

	100% {
		width: 180px;
		left: 0;
		top: 20px;
	}
}

.fixed-nav .nav {
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	z-index: 100;
	width: 180px;
	display: none;
}

.fixed-nav .nav .nav-all {
	width: 180px;
	z-index: 100;
}

.fixed-nav .nav .nav-all>li {
	width: 100%;
	text-align: center;
	font-size: 14px;
	z-index: 1;
}

.fixed-nav .nav .nav-all>li>a {
	color: #fff;
	width: 100%;
	display: block;
	transition: 0.3s;
	padding:5px 0;
}

.fixed-nav .nav .nav-all>li .nav-all-item {
	position: absolute;
	left: 180px;
	top: 0;
	height: 100vh;
	width: 0;
	background: #444;
	transition: 0.4s;
	z-index: -1;
}

.fixed-nav .nav .nav-all>li:hover .nav-all-item {
	width: 180px;
	z-index: 1;
}

.fixed-nav .nav .nav-all>li:hover .nav-all-item li {
	opacity: 1;
}

.fixed-nav .nav .nav-all>li ul {
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.fixed-nav .nav .nav-all>li ul li {
	font-size: 14px;
	line-height: 35px;
	border-bottom: 1px solid #545454;
	overflow: hidden;
	height: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	opacity: 0;
	transition: 0.4s;
}

.fixed-nav .nav .nav-all>li ul li a {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
}

.fixed-nav .nav .nav-all>li ul li a:hover {
	background: #E50012;
}

.fixed-nav .nav .nav-all>li>a:hover {
	color: #8E111B;
}

.fixed-nav .nav .nav-right {
	width: calc(100% - 180px);
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
	display: flex;
}

.fixed-nav .nav .nav-right .left-bg {
	width: 0;
	height: 100%;
	background: #262626;
	top: 0;
	transition: 0.3s;
}

.fixed-nav .nav .nav-right .right-bar {
	width: 94%;
	height: 100%;
	position: relative;
}

.fixed-nav .nav .nav-right .covering {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 11;
	box-shadow: -30px 0 50px rgba(0, 0, 0, 0.2);
	transition: 0.4s;
	z-index: 1;
	transition: 0.3s;
	overflow:hidden;
}

.fixed-nav .nav .about {
	position: absolute;
	width: 0%;
	height: 100%;
	background: url(../img/home/nav_img1.jpg) center center;
	background-size: 800px;
	transition: 0.3s;
	left: 0;
}

.fixed-nav .nav .about:hover {
	width: 50% !important;
	transform: translateX(-15%);
	box-shadow: none;
}

.fixed-nav .nav .about:hover .covering {
	box-shadow: none;

}

.fixed-nav .nav .about:hover+div {
	transform: translateX(15%);
}

.fixed-nav .nav .about>a {
	width: 100%;
	height: 100%;
	display: block;
}

.fixed-nav .nav .about:hover .covering {
	background: none;
}

.fixed-nav .nav .nav-right h3 {
	font-size: 24px;
	color: #fff;
	font-weight: normal;
	padding-left: 45px;
	padding-top: 45px;
	overflow: hidden;
	line-height: 24px;
	height: 24px;
}

.fixed-nav .nav .nav-right span {
	font-size: 46px;
	color: #fff;
	line-height: 46px;
	position: absolute;
	bottom: 20px;
	left: 45px;
	overflow: hidden;
}

.fixed-nav .nav .about span,
.fixed-nav .nav .pro-ser span {
	width: 46px;
	overflow: hidden;
}

.fixed-nav .nav .nav-right .pro-ser {
	position: absolute;
	width: 0%;
	height: 100%;
	transition: 0.3s all;
	background: url(../img/home/1-1.jpg) center center;
	left: 30%;
}

.fixed-nav .nav .nav-right .pro-ser:hover {
	width: 55% !important;
	transform: translateX(-15%);
}

.fixed-nav .nav .nav-right .pro-ser:hover .pro-ser-nav {
	width: 100%;
}

.fixed-nav .nav .nav-right .pro-ser:hover+div {
	transform: translateX(20%);
}

.fixed-nav .nav .pro-ser .pro-ser-nav {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0;
}

.fixed-nav .nav .pro-ser .pro-ser-nav>li {
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	width: 100%;
	box-sizing: border-box;
	height: 14.28%;
	position: relative;
	border-bottom: 1px solid rgba(225, 225, 225, 0.4);
	transition: 0.6s;
}

.fixed-nav .nav .pro-ser .pro-ser-nav>li:hover {
	background: #fff;
}

.fixed-nav .nav .pro-ser .pro-ser-nav>li:hover>a {
	color: #000;
}

.fixed-nav .nav .pro-ser .pro-ser-nav>li i {
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	font-style: normal;
	transition: 0.4s;
}

.fixed-nav .nav .pro-ser:hover .pro-ser-nav {
	opacity: 1;
}

.fixed-nav .nav .pro-ser .pro-ser-nav>li>a {
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
	transition: 0.2s;
}

.fixed-nav .nav .pro-ser .pro-ser-nav>li>a:hover {
	color: #E82030;
}

.fixed-nav .nav .pro-ser .pro-ser-nav ul {
	display: none;
	position: absolute;
	right: 20px;
	bottom: 0;
	width: 60%;
	min-width: 400px;
	height: 40px;
}

.fixed-nav .nav .pro-ser .pro-ser-nav ul li {
	font-size: 14px;
	float: right;
	text-align: right;
	line-height: 20px;
	margin-left: 15px;
}

.fixed-nav .nav .pro-ser .pro-ser-nav ul li a {
	color: #808080;
}

.fixed-nav .nav .pro-ser .pro-ser-nav ul li a:hover {
	color: #E82030;
}

.fixed-nav .nav div.news-cases {
	width: 30%;
	position: absolute;
	height: 100%;
	left: 70%;
	transition: 0.3s;
}

.fixed-nav .nav div.news-cases:hover {
	width: 40% !important;
	transform: translateX(-20%);
}

.fixed-nav .nav div.news-cases:hover>div {
	width: 100%;
}

.fixed-nav .nav div.news-cases .news {
	width: 0%;
	height: 50%;
	background: #000;
	position: relative;
	background: url(../img/home/nav_img2.jpg) center center;
	overflow: hidden;
	background-size: cover;
	transition: 0.3s;
}

.fixed-nav .nav div.news-cases .news .covering {
	width: 100%;
	height: 100%;
	background: #F6ECDD;
	transition: 0.5s;
}

.fixed-nav .nav div.news-cases h3 {
	color: #000 !important;
}

.fixed-nav .nav div.news-cases span {
	top: 140px;
	font-size: 30px;
	color: #000;
	height: 46px;
	overflow: hidden;
}

.fixed-nav .nav div.news-cases .news:hover h3,
.fixed-nav .nav div.news-cases .news:hover span {
	color: #fff !important;
}

.fixed-nav .nav div.news-cases .cases {
	width: 0%;
	height: 50%;
	position: relative;
	background: url(../img/home/nav_img3.jpg) center center;
	overflow: hidden;
	transition: 0.3s;
	background-size:cover;
}

.fixed-nav .nav div.news-cases .cases .covering {
	width: 100%;
	height: 100%;
	background: #E50012;
	transition: 0.5s;
}

.fixed-nav .nav div.news-cases .cases h3,
.fixed-nav .nav div.news-cases .cases span {
	color: #fff !important;
}

.fixed-nav .nav div.news-cases>div:hover .covering {
	background: none;
}

.meun {
	width: 56px;
	height: 56px;
	background-color: #EDEAEA;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	left: 60px;
	bottom: 50%;
	transition:0.5s;
	z-index: 99;
}
.meun .circle {
	width: 56px;
	height: 56px;
	position: absolute;
	background-color: #EDEAEA;
	border-radius: 50%;
	left: 0;
	top: 0;
	transition: 0.5s;
}

.meun:hover .circle {
	transform: scale(1.2);
}

.meun span {
	width: 2px;
	height: 18px;
	display: block;
	background-color: #000;
	float: left;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: 0.2s;
}

.meun span:nth-of-type(1) {
	transform: translateX(calc(-50% - 6px)) translateY(-50%);
}

.meun span:nth-of-type(3) {
	transform: translateX(calc(-50% + 6px)) translateY(-50%);
}



.transverse {
	width: 100%;
	height: 100vh;
	
}

.transverse .section {
	height: 100%;
	display: flex;
	z-index: -1;
}

.transverse .section>div {
	flex-shrink: 0;
}
.section-1 {
	width: 100%;
	height: 100%;
	position: relative;
	background: rgb(246, 246, 246);
	overflow: hidden;
	z-index:1;
}

.section-1 .section1-title {
	position: absolute;
	width: 500px;
	left: 870px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}

.section-1 .section1-title h2 {
	font-size: 36px;
	line-height: 36px;
	color: #e50012;
	letter-spacing: 4px;
	opacity:0;
}

.section-1 .section1-title h2 span {
	transform: translateY(-5px);
}

.section-1 .section1-title h3 {
	font-size: 32px;
	line-height: 32px;
	color: #3a3738;
	letter-spacing: 4px;
	font-weight: normal;
	margin-top: 10px;
	opacity:0;
}

.section-1 div span {
	font-size: 24px;
	line-height: 24px;
	color: #666;
	height: 24px;
	display: inline-block;
	overflow: hidden;
	letter-spacing: 0;
	opacity: 0.4;
	font-family: "Arial"
}

.section-1 .section1-bg {
	position: absolute;
	left: 0;
	height: 0;
	width: 100%;
	z-index: 1;
	height: 100%;
}

.section-1 .section1-bg img {
	position: absolute;
	transform: scale(0.7);
}

.section-1 .section1-bg img:nth-of-type(1) {
	left: 250px;
	top: 0;
}

.section-1 .section1-bg img:nth-of-type(2) {
	left: 200px;
	bottom: 0;
}

.section-1 .section1-bg img:nth-of-type(3) {
	right: 0;
	top: 70px;
}

.section-1 .section1-bg img:nth-of-type(4) {
	right: 0;
	bottom: 70px;
}

.section-2 {
	width: 100%;
	height: 100%;
	background: #444444;
	position: relative;
	z-index:2;
	overflow:hidden;
}

.section-2 .section2-title {
	position: absolute;
	left: 150px;
	top: 50%;
	transform: translateY(-90%);
	color: #FFFFFF;
	z-index: 2;
}

.section-2 .section2-title i {
	display: block;
	width: 60px;
	height: 2px;
	background: #e50012;
	margin-top: 30px;
	transition: 0.8s;
	opacity: 0;
}

.section-2 .section2-title h2 {
	font-size: 50px;
	line-height: 100px;
	transition: 0.4s;
	font-family: 'Poiret One';
	opacity: 0;
}

.section-2 .section2-title span {
	font-size: 18px;
	line-height: 25px;
	display: inline-block;
	transition: 0.6s;
	opacity: 0;
}
.show.moveleft{
	opacity: 1!important;
	animation: 0.6s removeleft ease-out;
}
@keyframes removeleft {
	0% {
		transform: translateX(180px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.section-2 .section2-data {
	position: absolute;
	width: 550px;
	left: 55%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}

.section-2 .section2-data ul {
	display: flex;
	flex-wrap: wrap;
}

.section-2 .section2-data ul li {
	width: 50%;
	margin-bottom: 10px;
	color: #FFFFFF;
	opacity: 0;
}

.section-2 .section2-data ul li.show {
	animation: 0.6s removeleft ease-out;
	opacity: 1;
	overflow: hidden;
}

.section-2 .section2-data ul li img {
	display: block;
	margin-bottom: 8px;
}

.section-2 .section2-data ul li .explain p {
	font-size: 16px;
	line-height: 1.5;
}

.section-2 .section2-data ul li .explain p span {
	font-size: 34px;
	color: #e50012;
	font-family: "Raavi";
}

.section-2 .section2-map {
	height: 80%;
	position: absolute;
	top: 50%;
	left: 34%;
	transform: translateY(-50%);
}

.section-2 .section2-map img {
	height: 100%;

}

.section-3 {
	display: flex;
}

.section-3 .section3-item {
	float: left;
	width: 33vw;
	height: 100%;
	position: relative;
	transition: 0.4s;
	z-index: 4;
}

.section-3 .section3-item .section3-item-content {
	width: 33vw;
	height: 100%;
	position: relative;
	transition: 0.4s;
}

.section-3 .section3-item:nth-of-type(2n) .section3-item-bg span::after{
	position:absolute;
	left:0;
	top:0;
	content:"";
	display:block;
	width:100%;
	height:100%;
	background: rgba(38, 38, 38, 0.6);
}

.section-3 .section3-item .section3-item-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: 0.4s;
	overflow: hidden;
}

.section-3 .section3-item .section3-item-bg span {
	width: 43vw;
	height: 100%;
	position: absolute;
	left: -5vw;
	transition: 0.4s;
}

.section-3 .section3-item .section3-item-title {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateX(-50%) translateY(-50%);
}

.section-3 .section3-item:nth-of-type(5) .section3-item-title {
	transform: translateX(-25%) translateY(-50%);
}

.section-3 .section3-item .section3-item-title h2 {
	font-size: 36px;
	line-height: 50px;
	font-weight: normal;
}

.section-3 .section3-item .section3-item-title a {
	color: #fff;
	font-family: 'Arial';
}

.section-3 .section3-item .section3-item-title i {
	display: block;
	width: 0;
	transition: 0.4s;
	transform: translateX(-100%);
	margin-left: 100%;
	height: 3px;
	background: #fff;
}

.section-3 .section3-item .section3-item-title span {
	display: inline-block;
	font-size: 16px;
	margin-top: 10px;
}

.section-3 .section3-item .section3-item-label {
	width: 80%;
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translateX(-50%);
}

.section-3 .section3-item .section3-item-label::after {
	width: 0;
	height: 1px;
	background: #FFFFFF;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.4s;
}

.section-3 .section3-item .section3-item-label p {
	font-size: 20px;
	line-height: 50px;
	display: inline-block;
	opacity: 0;
	transition: 0.4s;
}

.section-3 .section3-item .section3-item-label p a {
	color: #fff;
}

.section-3 .section3-item .section3-item-label span {
	font-size: 60px;
	color: #fff;
	display: inline-block;
	float: right;
	transform: translateY(10%);
	opacity: 0;
	animation: anum 0.3s;
}

@keyframes anum {
	0% {
		transform: translateY(-10%);
		opacity: 1;
	}

	100% {
		transform: translateY(-10%) translateX(5vw);
		opacity: 0;
	}
}

@keyframes num {
	0% {
		transform: translateY(10%);
		opacity: 0;
	}

	50% {
		transform: translateY(10%);
		opacity: 0;
	}

	100% {
		transform: translateY(-10%);
		opacity: 1;
	}
}


.section-3 .section3-item .section3-item-nav {
	position: absolute;
	right: -5vw;
	bottom: 8vh;
	transition: 0.4s;
	opacity: 0;
}

.section-3 .section3-item .section3-item-nav li {
	text-align: right;
	font-size: 15px;
	line-height: 1.5;
	margin: 5px 0;
}

.section-3 .section3-item .section3-item-nav li a {
	color: #fff;
	transition: 0.6s;
	position: relative;
}

.section-3 .section3-item .section3-item-nav li a::after {
	width: 0;
	height: 2px;
	content: "";
	display: block;
	position: absolute;
	bottom: -2px;
	right: 0;
	transition: 0.4s;
	background: #e50012;
}

.section-3 .section3-item .section3-item-nav li a:hover {
	color: #e50012;
}

.section-3 .section3-item .section3-item-nav li a:hover::after {
	width: 100%;
}

.section-3 .section3-item:hover .section3-item-bg {
	width: 44vw;
	margin-left: -5vw;
}

.section-3 .section3-item:hover .section3-item-bg span {
	left: 0;
}

.section-3 .section3-item:hover .section3-item-content {
	width: 43vw;
	transform: translateX(-5vw);
}

.section-3 .section3-item:hover .section3-item-title i {
	width: 100%;
}

.section-3 .section3-item:hover .section3-item-label::after {
	width: 100%;
}

.section-3 .section3-item:hover .section3-item-label p {
	opacity: 1;
}

.section-3 .section3-item:hover .section3-item-label span {
	margin-left: 5vw;
	transform: translateY(-10%);
	opacity: 1;
	animation: num 0.6s ease-in-out;
}

.section-3 .section3-item:hover .section3-item-nav {
	right: 5vw;
	opacity: 1;
}

.section-3 .section3-item:hover+div{
	width: 28vw;
	margin-left: 5vw;
}
.section-3 .section3-item:hover+div .section3-item-bg{
	width: 38vw;
	z-index:-11;

}
.section-3 .section3-item:hover+div .section3-item-bg span{
	margin-left:-5vw;
}


.section-4 {
	width: 140vw;
	height: 100%;
	background: url(../img/home/img6.png) no-repeat 100px center, #444444;
	overflow: hidden;
	margin-left:-5px;
	position:relative;
	padding-left:100px;
}


.section-4 .section4-title {
	float: left;
	height: 100%;
	color: #FFFFFF;
	width: 40vw;
	padding-left: 15vw;
	box-sizing: border-box;
}

.section-4 .section4-title i {
	display: block;
	width: 60px;
	height: 2px;
	background: #e50012;
	margin-top: 30px;
	opacity:0;
}

.section-4 .section4-title h2 {
	margin-top: calc(50vh - 50px);
	font-size: 50px;
	line-height: 100px;
	font-family: 'Poiret One';
	opacity:0;
}

.section-4 .section4-title span {
	font-size: 18px;
	line-height: 25px;
	display: inline-block;
	margin-top: 10px;
	opacity:0;
}

.section-4 .section4-items {
	height: 100%;
	width: 100vw;
	float: left;

}

.section-4 .section4-items .item1 {
	float: left;
	width: 45vw;
}

.section-4 .section4-items .item1 .item1-img {
	min-width: 490px;
	width: 40vw;
	overflow: hidden;
}

.section-4 .section4-items .item1 .item1-img span,
.section-4 .section4-items .item1 .item1-img span img {
	display: block;
	width: 100%;
	transition: 0.4s;
}

.section-4 .section4-items .item1-img:hover span img {
	transform: scale(1.1);
}

.section-4 .section4-items .item-content {
	transform: translateY(-33px);
	width: 500px;
	margin-left:200px;
}
.section-4 .section4-items .item2 .item-content{
	margin-left:300px;
}

.section-4 .section4-items .item-content .item-logo a,
.section-4 .section4-items .item-content .item-logo img {
	display: block;
	width: 200px;
}

.section-4 .section4-items .item-content h3 {
	font-size: 20px;
	line-height: 50px;
}

.section-4 .section4-items .item-content h3 a {
	color: #fff;
}

.section-4 .section4-items .item-content p {
	font-size: 14px;
	color: #fff;
	line-height: 22px;
}

.section-4 .section4-items .item-content .more {
	display: inline-block;
	margin-top: 50px;
	font-size: 14px;
}

.section-4 .section4-items .item-content .more a {
	color: #fff;
	transition: 0.6s;
	text-decoration: underline
}

.section-4 .section4-items .item-content .more a:hover {
	color: #e50012;
}

.section-4 .section4-items .item2 {
	float: left;
	height: 100%;
	position: relative;
}

.section-4 .section4-items .item2 .item2-content {
	position: absolute;
	bottom: 0;
	left: 0;
}

.section-4 .section4-items .item2 .item1-img {
	min-width: 490px;
	width: 40vw;
	overflow: hidden;
}

.section-4 .section4-items .item2 .item1-img span,
.section-4 .section4-items .item2 .item1-img img {
	display: block;
	width: 100%;
	margin-top: 10vh;
	transition: 0.5s;
}

.section-4 div.more {
	transform: translateY(50%);
	position: absolute;
	width: 140px;
	top: 50%;
	right: 25vw;
}

.section-4 div.more::after {
	width: 300px;
	height: 2px;
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: -20px;
	background: #e50012;
}

.section-4 div.more a {
	color: #fff;
	font-size: 30px;
	transition: 0.5s;
}

.section-4 div.more a:hover {
	color: #e50012;
}

.section-5 {
	width: 130vw;
	background: #444444;
	position: relative;
	margin-left:-10px;
}

.section-5 .section5-title {
	float: left;
	height: 100%;
	color: #FFFFFF;
	width: 40vw;
	padding-left: 15vw;
	box-sizing: border-box;
}

.section-5 .section5-title i {
	display: block;
	width: 60px;
	height: 2px;
	background: #e50012;
	margin-top: 30px;
	opacity:0;
}

.section-5 .section5-title h2 {
	margin-top: calc(50vh - 50px);
	font-size: 50px;
	line-height: 100px;
	font-family: 'Poiret One';
	opacity:0;
}

.section-5 .section5-title span {
	font-size: 18px;
	line-height: 25px;
	display: inline-block;
	margin-top: 10px;
	opacity:0;
}

.section5-swiper {
	float: left;
	width: 80vw;
	height: 60vh;
	margin-top: 20vh;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #444444;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide .swiper-img {
	height: 100%;
	width: 55%;
	margin-right: 5%;
	position: relative;
}

.swiper-slide .swiper-img .clock {
	height: 3px;
	width: 85%;
	position: absolute;
	left: 15%;
	bottom: 15%;
	background: url(../img/home/icon15.png) repeat-x left top;
}

.swiper-slide .swiper-img .clock span {
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 50%;
	position: absolute;
	left: -10%;
	top: 50%;
	transform: translateY(-50%);
	background: #e50012;
}

.swiper-slide .swiper-img .clock::after {
	width: 100%;
	height: 100%;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: #e50012;

}

.swiper-slide-active .swiper-img .clock::after {
	animation: clock 6s linear;
}

@keyframes clock {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}

.swiper-slide .swiper-img img {
	display: block;
	width: 100%;
}

.swiper-content {
	height: 100%;
	width: 40%;
	text-align: left;
}

.swiper-content h3 {
	font-size: 26px;
	line-height: 34px;

}

.swiper-content h3 a {
	color: #fff;
}

.swiper-content span {
	font-size: 20px;
	display: block;
	line-height: 30px;
	margin: 15px 0 10px 0;
	color: #fff;
	font-family: "Raavi";
}

.swiper-content p {
	font-size: 14px;
	color: #fff;
	line-height: 22px;
	height: 132px;
}

.swiper-content .particulars {
	font-size: 16px;
	width: 144px;
	height: 44px;
	background: #fff;
	text-align: center;
	line-height: 44px;
	transition: 0.5s;
	margin-top: 30px;
}

.swiper-content .particulars a {
	color: #000;
	display: block;
	width: 100%;
	transition: 0.5s;
}

.swiper-content .particulars:hover {
	background: #E71121;
}

.swiper-content .particulars a:hover {
	color: #fff;
}

.swiper-pagination-bullets {
	bottom: 0px !important;
	width: auto !important;
	left: 60% !important;
}

.swiper-pagination-bullet {
	width: 16px !important;
	height: 16px !important;
	background: transparent !important;
	opacity: 1 !important;
	cursor: pointer;
	position: relative;
}

.swiper-pagination-bullet::before {
	width: 10px;
	height: 10px;
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: #fff;

}

.swiper-pagination-bullet-active::before {
	width: 6px;
	height: 6px;
}

.swiper-pagination-bullet-active::after {
	width: 16px;
	height: 16px;
	content: "";
	display: block;
	position: absolute;
	border: 1px solid #fff;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.section5-more {
	position: absolute;
	right: 5vw;
	top: 0;
	padding-top: 20vh;
	padding-bottom: 30px;
	z-index: 2;
}

.section5-more span {
	font-size: 30px;
	line-height: 30px;
	z-index: 2;
}

.section5-more a {
	color: #fff;
	transition: 0.5s;
}

.section5-more a:hover {
	color: #e50012;
}

.section5-more::after {
	content: "";
	position: absolute;
	left: 30%;
	top: 0;
	height: 100%;
	width: 2px;
	display: block;
	background: #e50012;
	z-index: -1;
}

.search {
	position: absolute;
	right:3%;
	top: -30px;
	z-index: 20;
	display: flex;
}

.search .search-box {
	font-size: 14px;
	line-height:26px;
	height:27px;
	overflow:hidden;
	color: #fff;
}

.search .search-box .telep {
	padding-left: 20px;
	padding-right:20px;
	background: url(../img/home/icon3.png) no-repeat left center;
}

.search .search-box .search-input {
	position: relative;
	display:none;
	animation:inputHide 0.7s ease-out;
}
.search .search-box .search-input.show{
	animation:inputShow 0.7s ease-out;
	transform:translateX(0)
}
@keyframes inputShow{
	0%{
		transform:translateX(100%);
	}
	100%{
		transform:translateX(0);
	}
}
@keyframes inputHide{
	0%{
		transform:translateX(0);
	}
	100%{
		transform:translateX(100%);
	}
}

.search .search-box .search-input input {
	width: 160px;
	border: none;
	border-bottom: 1px solid #ccc;
	height: 20px;
	line-height: 24px;
	padding-left: 25px;
	background: transparent;
	outline: none;
}

.search .search-box .search-input input::placeholder {
	color: #ccc;
}

.search .search-box .search-input span {
	width: 14px;
	height: 14px;
	display: block;
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translateY(-60%);
	background: url(../img/home/close.png) no-repeat;
	transition:0.5s;
	cursor:pointer;
}
.search .search-box .search-input span:hover{
	transform:rotate(180deg) translateY(8px);
}
.search>span {
	width: 16px;
	height: 24px;
	cursor: pointer;
	display: block;
	background: url(../img/home/head_icon3.png) no-repeat center center;
}

.copyright{
	width:380px;
	position:absolute;
	left:-380px;
	bottom:10%;
	z-index:20;
}
.copyright p{
	font-size:12px;
	color:#808080;
}
.copyright p a{
	color:#808080;
	padding-right:10px;
}
.copyright p a:hover{
	text-decoration: underline;
}

.fixed_right {
	display:none;
	position: fixed;
	right: 0;
	bottom: 20px;
	width: 54px;
	z-index: 7;
}

.fixed_right ul {
	width: 100%;
}

.fixed_right ul li {
	width: 100%;
	height: 40px;
	padding: 7px 0;
	background: rgba(85, 85, 85, 0.4);
	margin-bottom: 1px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	transition: 0.6s;
	position: relative;
	z-index: 2;
}

.fixed_right ul li a {
	color: #FFFFFF;
	transition: 0.2s;
}

.fixed_right ul li i {
	display: block;
	width: 23px;
	height: 23px;
	margin: 0 auto;
}

.fixed_right ul li:nth-of-type(1) i {
	background: url(../img/home/fixed_icon1.png) no-repeat center center;
}

.fixed_right ul li:nth-of-type(2) i {
	background: url(../img/home/fixed_icon2.png) no-repeat center center;
}

.fixed_right ul li:nth-of-type(3) i {
	background: url(../img/home/fixed_icon6.png) no-repeat center center;
}

.fixed_right ul li:nth-of-type(4) i {
	background: url(../img/home/fixed_icon4.png) no-repeat center center;
}

.fixed_right ul li:nth-of-type(5) i {
	background: url(../img/home/fixed_icon5.png) no-repeat center center;
}

.fixed_right ul li:nth-of-type(1):hover i {
	background: url(../img/home/fixed_icon1on.png) no-repeat center center;
}

.fixed_right ul li:nth-of-type(2):hover i {
	background: url(../img/home/fixed_icon2on.png) no-repeat center center;
}

.fixed_right ul li:nth-of-type(4):hover i {
	background: url(../img/home/fixed_icon4on.png) no-repeat center center;
}


.fixed_right ul li:hover {
	color: #E50012;
	background: #FFFFFF;
}

.fixed_right ul li:hover a {
	color: #E50012;
}

.fixed_right ul li p {
	position: absolute;
	left: 100%;
	top: 0;
	height: 100%;
	transition: 0.3s;
	z-index: 11;
}

.fixed_right ul li:nth-of-type(3) p {
	width: 130px;
	padding: 0 20px 0 50px;
	font-size: 19px;
	color: #d51120;
	line-height: 54px;
	background: url(../img/home/fixed_icon2on.png) no-repeat 20px center, #fff;
}

.fixed_right ul li:nth-of-type(3):hover p {
	left: -146px;
}

.fixed_right ul li:nth-of-type(5) p {
	width: 200px;
	padding: 0 20px;
	left: 100%;
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
	background: #fff;
	line-height: 34px;
}

.fixed_right ul li:nth-of-type(5):hover p {
	left: -146px;
}

.fixed_right ul li:nth-of-type(5) p a {
	display: block;
	width: 20%;
}

.fixed_right ul li:nth-of-type(5) p a:nth-of-type(1) {
	background: url(../img/home/share_icon1.png) no-repeat center center;
}

.fixed_right ul li:nth-of-type(5) p a:nth-of-type(2) {
	background: url(../img/home/share_icon2.png) no-repeat center center;
}

.fixed_right ul li:nth-of-type(5) p a:nth-of-type(3) {
	background: url(../img/home/share_icon3.png) no-repeat center center;
}

.fixed_right ul li:nth-of-type(5) p a:nth-of-type(4) {
	background: url(../img/home/share_icon4.png) no-repeat center center;
}

.fixed_right ul li:nth-of-type(5) p a:nth-of-type(5) {
	background: url(../img/home/share_icon5.png) no-repeat center center;
}


.fixed_right ul li:nth-of-type(5) p a:nth-of-type(1):hover {
	background: url(../img/home/share_icon1on.png) no-repeat center center;
}

.fixed_right ul li:nth-of-type(5) p a:nth-of-type(2):hover {
	background: url(../img/home/share_icon2on.png) no-repeat center center;
}

.fixed_right ul li:nth-of-type(5) p a:nth-of-type(3):hover {
	background: url(../img/home/share_icon3on.png) no-repeat center center;
}

.fixed_right ul li:nth-of-type(5) p a:nth-of-type(4):hover {
	background: url(../img/home/share_icon4on.png) no-repeat center center;
}

.fixed_right ul li:nth-of-type(5) p a:nth-of-type(5):hover {
	background: url(../img/home/share_icon5on.png) no-repeat center center;
}



@media screen and (min-width:1200px){
	.fixed-nav{
		width:810px;
	}
}
@media screen and (max-width:1200px){
	.fixed-nav{
		width:576px;
	}
	.fixed-nav .loader-logo,
	.fixed-nav .logo{
		width:100%;
	}
	.section-1 .section1-title {
		left:650px;
	}
	.section-2{
		width:110%;
	}
	.section-3 .section3-item .section3-item-title span{
		font-size:14px;
	}
	.section-4 {
		width:175vw;
	}
	.section-4 .section4-items .item1{
		margin-right:10vw;
	}
} 
