/* 设置滚动条的样式 */
::-webkit-scrollbar {
	width: 6px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
	background: #CCCCCC;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
	background: #E50012;
}

body {
	overflow-x: hidden;
}


.section {
	width: calc(100% - 180px);
	margin-left: 180px;
}

.section {
	position: relative;
}

.section>div {
	padding: 60px;
	box-sizing: border-box;
}

.section>div .title h3 {
	font-size: 26px;
	font-weight: normal;
	color: #333;
}

.section>div .title span {
	font-size: 14px;
	color: #bfbfbf;
}

.section .section-1 {
	width: calc(100% - 180px);
	height: 100vh;
	background: url(../../img/Imp_exp/fu_banner2.jpg) no-repeat center center;
	background-size: cover;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
	padding: 0;
}

.section .section-1 .section1-title {
	position: absolute;
	top: 50%;
	left: 80px;
	transform: translateY(-50%);
	color: #fff;
}

.section .section-1 .section1-title h2 {
	font-size: 40px;
	line-height: 60px;
}

.section .section-1 .section1-title span {
	font-size: 30px;
	opacity: 0.4;
	display:block;
}

.section .section-1 .section1-title p {
	padding: 15px;
	margin-top: 10px;
	font-size: 20px;
	background-color: #e50012;
}

.section .section1-hint {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 16px;
	color: #fff;
}

.section .section1-hint span {
	width: 20px;
	height: 10px;
	display: block;
	background: url(../../img/Imp_exp/scroll_down.png) no-repeat left top;
	margin: 0 auto;
	opacity: 0;
}


.section .section1-hint span:nth-of-type(1) {
	animation: firstSpan 1s infinite;
	margin-top: 10px;
}

.section .section1-hint span:nth-of-type(2) {
	animation: SecondSpan 1s infinite;
}

.section .section1-hint span:nth-of-type(3) {
	animation: ThirdSpan 1s infinite;
}

@keyframes firstSpan {
	0% {
		opacity: 0;
	}

	20% {
		opacity: .3;
	}

	40% {
		opacity: .3;
	}

	90% {
		opacity: .3;
	}

	100% {
		opacity: 0;
	}
}

@keyframes SecondSpan {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	40% {
		opacity: .3;
	}

	60% {
		opacity: .5;
	}

	90% {
		opacity: .5;
	}

	100% {
		opacity: 0;
	}
}

@keyframes ThirdSpan {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	40% {
		opacity: 0.2;
	}

	50% {
		opacity: 0.6;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.now-location {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 60px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.2);
	text-align: right;
	font-size: 12px;
	color: #fff;
}

.now-location i {
	background: url(../../img/Imp_exp/common_icon3.png) no-repeat;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 10px;
	margin-bottom: -2px;
}

.now-location a {
	color: #fff;
}

.section-2 {
	margin-top: 100vh;
	background: #FFFFFF;
	position:relative;
	overflow:hidden;
}

.section-2 .section2-content {
	width: 50%;
}

.section-2 .section2-content p {
	color: #666;
	font-size: 16px;
	line-height: 28px;
	margin-top: 5%;
}
.section-2 .section2-img{
	position:absolute;
	right:0;
	top:20%;
	width:40%;
}
.section-2 .section2-img img{
	display:block;
	width:100%;
}

.section .section-3 {
	width: 100%;
	padding: 0;
}

.section .section-3 ul {
	display: flex;
	flex-wrap: wrap;
}

.section .section-3 ul li {
	width: 33.333%;
	overflow: hidden;
	position: relative;
	color:#FFFFFF;
}

.section .section-3 ul li .li-bg {
	width: 100%;
}

.section .section-3 ul li .li-bg img {
	width: 100%;
	display: block;
}

.section .section-3 ul li .li-content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0 15px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.3);
	transition: 0.8s;
}

.section .section-3 ul li .li-content div {
	position: absolute;
	width: 100%;
	padding: 0 15px;
	box-sizing: border-box;
	top: 50%;
	left: 0;
	top: 30%;
	transition: 0.5s;
}

.section .section-3 ul li .li-content div i {
	transition: 0.8s;
	display: block;
}

.section .section-3 ul li .li-content div i img {
	transform: scale(0.8);
}

.section .section-3 ul li .li-content div h3 {
	font-size: 18px;
	font-weight: normal;
	position: relative;
	margin-top: 15%;
	margin-bottom: 30px;
	transition: 0.4s;
}

.section .section-3 ul li .li-content div h3::before {
	content: "";
	display: block;
	width: 30px;
	height: 2px;
	position: absolute;
	left: 50%;
	top: -100%;
	transform: translateX(-50%);
	background: #fff;
	transition: 0.3s;
}

.section .section-3 ul li .li-content div P {
	font-size: 14px;
	text-align: left;
	opacity: 0;
	margin-top: 20px;
	transition: 0.4s;
	padding:0 20px;
}

.section .section-3 ul li .li-content div span:hover {
	color: #E50012;
	background: #fff;
}
.section .section-4{
	background:#F7F7F7;
}
.section .section-4 ul{
	display:flex;
	flex-wrap:wrap;
	margin-top:5%;
	justify-content:space-between;
}
.section .section-4 ul li{
	width:49%;
	display:flex;
	background:#FFFFFF;
	margin-bottom:2%;
	padding-bottom:60px;
	transition:0.8s;
}
.section .section-4 ul li i{
	margin:50px 5%;
	width:15%;
	min-width:103px;
	
}

.section .section-4 ul li div{
	width:70%;
	padding-top:40px;
	padding-right:40px;
	box-sizing:border-box;
}
.section .section-4 ul li div h4{
	font-size:18px;
	line-height:30px;
	color:#333;
	transition:0.5s;
}
.section .section-4 ul li div span{
	width:30px;
	height:3px;
	display:block;
	background:#e50012;
	margin:15px 0;
}
.section .section-4 ul li div p{
	font-size:14px;
	line-height:26px;
	
}

.section-5 {
	width: 100%;
	background: #FFFFFF;
}

.section-5 .section5-client {
	width: 100%;
}

.section-5 .section5-client ul {
	width: 100%;
	padding-top:2%;
	display: flex;
	flex-wrap: wrap;
}

.section-5 .section5-client ul li {
	width: 14.666%;
	margin: 1%;
	position: relative;
	cursor: pointer;
}

.section-5 .section5-client ul li .imgBg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	text-align: center;
	line-height: 60px;
	z-index: 2;
	background: #e50012;
	color: #FFFFFF;
	font-size: 14px;
	box-shadow: 0px 2px 20px rgba(225, 0, 0, 0.6);
	transition: 0.8s;
	opacity: 0;
}

.section-5 .section5-client ul li:hover .imgBg {
	opacity: 1;
}

.section-5 .section5-client ul li .logo {
	width: 100%;
	height: 60px;
	text-align: center;
	position: relative;
	border: 1px solid #F7F7F7;
}

.section-5 .section5-client ul li .logo img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	max-width: 90%;
	max-height: 90%;
}

.section-5 .section5-client ul li a {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}

.section-5 .section5-client ul li a::after {
	content: "";
	display: block;
	width: 36px;
	height: 35px;
	background: url(../../img/Imp_exp/logo_icon1.png) no-repeat;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.8s;
}

.section-5 .section5-client ul li:hover a::after {
	opacity: 0;
}

@media screen and (min-width:992px) {
	.section .section-3 ul li:hover .li-content {
		background: rgba(248, 1, 26, 0.9);
	}

	.section .section-3 ul li:hover .li-content div {
		top: 50%;
		transform: translateY(-50%);
	}

	.section .section-3 ul li:hover .li-content div i {
		transform: rotateY(360deg);
		transition:0.5s;
	}
	.section .section-3 ul li:hover .li-content div span{
		background:rgba(255,255,255,0.5);
	}
	.section .section-3 ul li:hover .li-content div p {
		opacity: 1;
	}
	.section .section-4 ul li:nth-of-type(1) i{
		background:url(../../img/Imp_exp/jk_ico4.png) no-repeat center top;
	}
	
	.section .section-4 ul li:nth-of-type(2) i{
		background:url(../../img/Imp_exp/jk_ico5.png) no-repeat center top;
	}
	
	.section .section-4 ul li:nth-of-type(3) i{
		background:url(../../img/Imp_exp/jk_ico6.png) no-repeat center top;
	}
	
	.section .section-4 ul li:nth-of-type(4) i{
		background:url(../../img/Imp_exp/jk_ico7.png) no-repeat center top;
	}
	
	.section .section-4 ul li:nth-of-type(5) i{
		background:url(../../img/Imp_exp/jk_ico8.png) no-repeat center top;
	}
	
	.section .section-4 ul li:nth-of-type(6) i{
		background:url(../../img/Imp_exp/jk_ico9.png) no-repeat center top;
	}
	
	.section .section-4 ul li:nth-of-type(7) i{
		background:url(../../img/Imp_exp/jk_ico10.png) no-repeat center top;
	}
	
	.section .section-4 ul li:nth-of-type(8) i{
		background:url(../../img/Imp_exp/jk_ico11.png) no-repeat center top;
	}
	.section .section-4 ul li:nth-of-type(1):hover i{
		background:url(../../img/Imp_exp/jk_ico4_hover.png) no-repeat center top;
	}
	.section .section-4 ul li:nth-of-type(2):hover i{
		background:url(../../img/Imp_exp/jk_ico5_hover.png) no-repeat center top;
	}
	
	.section .section-4 ul li:nth-of-type(3):hover i{
		background:url(../../img/Imp_exp/jk_ico6_hover.png) no-repeat center top;
	}
	
	.section .section-4 ul li:nth-of-type(4):hover i{
		background:url(../../img/Imp_exp/jk_ico7_hover.png) no-repeat center top;
	}
	
	.section .section-4 ul li:nth-of-type(5):hover i{
		background:url(../../img/Imp_exp/jk_ico8_hover.png) no-repeat center top;
	}
	
	.section .section-4 ul li:nth-of-type(6):hover i{
		background:url(../../img/Imp_exp/jk_ico9_hover.png) no-repeat center top;
	}
	
	.section .section-4 ul li:nth-of-type(7):hover i{
		background:url(../../img/Imp_exp/jk_ico10_hover.png) no-repeat center top;
	}
	
	.section .section-4 ul li:nth-of-type(8):hover i{
		background:url(../../img/Imp_exp/jk_ico11_hover.png) no-repeat center top;
	}
	
	.section .section-4 ul li:hover{
		background:#E50012;
		color:#FFFFFF!important;
		box-shadow:0px 0px 20px rgba(225,0,0,0.5);
	}
	.section .section-4 ul li:hover h4{
		color:#FFFFFF;
	}
	.section .section-4 ul li:hover span{
		background:rgba(204,204,204,0.5);
	}

}


@media screen and (max-width:992px) {
	.section {
		width: 100%;
		margin-left: 0;
	}

	.section .section-1 {
		left: 0;
		width: 100%;
	}

	.section>div {
		padding: 5%;
	}

	.section-1 {
		width: 100% !important;
		left: 0;
	}

	.title h3 {
		font-size: 20px !important;

	}

	.section .section-1 .section1-title {
		left: 50px;
		margin-right: 50px;
	}

	.section .section-1 .section1-title h2 {
		font-size: 24px;
		line-height: 30px;
	}

	.section .section-1 .section1-title span {
		font-size: 20px
	}

	.section .section-1 .section1-title p {
		font-size: 16px
	}
	.section-2 {
		padding-bottom:0!important;
	}
	.section-2 .section2-content{
		width:100%;
	}
	.section-2 .section2-img{
		position:unset;
		width:100%;
	}
	
	.section .section-3 ul li {
		width:100%;
	}
	.section .section-3 ul li .li-content {
		background: rgba(248, 1, 26, 0.8);
	}
	.section .section-3 ul li .li-content div p {
		opacity: 1;
		padding:0;
	}
	.section .section-3 ul li .li-content{ 
		text-align:left;
	}
	.section .section-3 ul li .li-content div{
		padding:0 10%;
	}
	.section .section-3 ul li i{
		display:inline-block!important;
	}
	.section .section-3 ul li i img{
		transform:none!important;
	}
	.section .section-3 ul li h3{
		margin:0!important;
		display:inline-block;
	}
	.section .section-3 ul li h3::before{
		display:none!important;
	}
	
	.section .section-4 ul li{
		width:100%;
		background:#E50012;
		color:#FFFFFF!important;
		box-shadow:0px 0px 20px rgba(225,0,0,0.5);
		display:block;
		padding: 20px;
		padding-bottom:0;
	}
	
	.section .section-4 ul li h4{
		color:#FFFFFF!important;
		display:inline-block;
		padding-left:60px;
		line-height:60px!important;
	}
	.section .section-4 ul li i{
		display:inline-block;
		margin:0;
		min-width:42px!important;
		width:42px;
		height:42px;
		background-size:auto 100%!important;
	}
	.section .section-4 ul li div{
		padding:0;
		width:100%;
		transform:translateY(-54px);
	}
	.section .section-4 ul li div span{
		display:none;
	}
	.section .section-4 ul li div p br{
		display:none;
	}
	.section .section-4 ul li:nth-of-type(1) i{
		background:url(../../img/Imp_exp/jk_ico4_hover.png) no-repeat center bottom;
	}
	.section .section-4 ul li:nth-of-type(2) i{
		background:url(../../img/Imp_exp/jk_ico5_hover.png) no-repeat center bottom;
	}
	
	.section .section-4 ul li:nth-of-type(3) i{
		background:url(../../img/Imp_exp/jk_ico6_hover.png) no-repeat center bottom;
	}
	
	.section .section-4 ul li:nth-of-type(4) i{
		background:url(../../img/Imp_exp/jk_ico7_hover.png) no-repeat center bottom;
	}
	
	.section .section-4 ul li:nth-of-type(5) i{
		background:url(../../img/Imp_exp/jk_ico8_hover.png) no-repeat center bottom;
	}
	
	.section .section-4 ul li:nth-of-type(6) i{
		background:url(../../img/Imp_exp/jk_ico9_hover.png) no-repeat center bottom;
	}
	
	.section .section-4 ul li:nth-of-type(7) i{
		background:url(../../img/Imp_exp/jk_ico10_hover.png) no-repeat center bottom;
	}
	
	.section .section-4 ul li:nth-of-type(8) i{
		background:url(../../img/Imp_exp/jk_ico11_hover.png) no-repeat center bottom;
	}
	.section-5 .section5-client ul li {
		width: 48%;
	}
}
