/* 设置滚动条的样式 */
::-webkit-scrollbar {
	width: 6px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
	background: #CCCCCC;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
	background: #E50012;
}

body {
	overflow-x: hidden;
}

.section {
	position: relative;
}

.section>div {
	padding: 60px;
	box-sizing: border-box;
}

.section>div .title h3 {
	font-size: 26px;
	font-weight: normal;
	color: #333;
}

.section>div .title span {
	font-size: 14px;
	color: #bfbfbf;
}

.section .section-1 {
	width: calc(100% - 180px);
	height: 100vh;
	background: url(../../img/B2B/b2b_img1.jpg) no-repeat center center;
	background-size: cover;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
	padding: 0;
}

.section .section-1 .section1-title {
	position: absolute;
	top: 50%;
	left: 80px;
	transform: translateY(-50%);
	color: #fff;
}

.section .section-1 .section1-title h2 {
	font-size: 40px;
	line-height: 60px;
}

.section .section-1 .section1-title span {
	font-size: 30px;
	opacity: 0.4;
	display:block;
}

.section .section-1 .section1-title p {
	padding: 15px;
	margin-top: 10px;
	font-size: 20px;
	background-color: #e50012;
}

.section .section1-hint {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 16px;
	color: #fff;
}

.section .section1-hint span {
	width: 20px;
	height: 10px;
	display: block;
	background: url(../../img/B2B/scroll_down.png) no-repeat left top;
	margin: 0 auto;
	opacity: 0;
}


.section .section1-hint span:nth-of-type(1) {
	animation: firstSpan 1s infinite;
	margin-top: 10px;
}

.section .section1-hint span:nth-of-type(2) {
	animation: SecondSpan 1s infinite;
}

.section .section1-hint span:nth-of-type(3) {
	animation: ThirdSpan 1s infinite;
}

@keyframes firstSpan {
	0% {
		opacity: 0;
	}

	20% {
		opacity: .3;
	}

	40% {
		opacity: .3;
	}

	90% {
		opacity: .3;
	}

	100% {
		opacity: 0;
	}
}

@keyframes SecondSpan {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	40% {
		opacity: .3;
	}

	60% {
		opacity: .5;
	}

	90% {
		opacity: .5;
	}

	100% {
		opacity: 0;
	}
}

@keyframes ThirdSpan {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	40% {
		opacity: 0.2;
	}

	50% {
		opacity: 0.6;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.now-location {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 60px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.2);
	text-align: right;
	font-size: 12px;
	color: #fff;
}

.now-location i {
	background: url(../../img/B2B/common_icon3.png) no-repeat;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 10px;
	margin-bottom: -2px;
}

.now-location a {
	color: #fff;
}

.section .section-2 {
	position: relative;
	width: 100%;
	margin-top: 100vh;
	padding-bottom: 0 !important;
	background: url(../../img/B2B/b2b_img3.png) no-repeat center top, #fff;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	z-index: 2;
}

.section .section-2 .section2-content {
	width: 55%;
}

.section .section-2 .section2-content .section2-title {
	padding-top: 100px;
	color: #333;
}

.section .section2-content .section2-review {
	font-size: 16px;
	padding: 40px 0;
}

.section .section2-content .section2-review p {
	line-height: 30px;
	color: #808080;
}

.section .section2-content ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.section .section2-content ul li {
	position: relative;
	width: 25%;
	cursor: pointer;
}

.section .section2-content ul li img {
	display: block;
	margin: 0 auto;
}

.section .section2-content ul li span {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;
	transition: 0.4s;
}

.section .section2-content ul li p {
	position: absolute;
	width: 250%;
	left: 0;
	top: 90px;
	padding: 20px 30px;
	font-size: 14px;
	line-height: 32px;
	background: #fff;
	color: #808080;
	box-shadow: -3px 7px 15px rgba(0, 0, 0, 0.4);
	display: none;
	z-index: 2;
}

.section .section2-content ul li p::after {
	content: '';
	width: 0;
	height: 0;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-bottom: 10px solid #fff;
	position: absolute;
	top: -10px;
	left: 18%;

}

.section .section2-content ul li:hover span {
	color: #E50012;
}

.section .section2-content ul li:hover p {
	animation: 0.6s liP;
	display: block;
	top: 70px;
}

@keyframes liP {
	0% {
		display: block;
		opacity: 0;
		top: 90px;
	}

	100% {
		top: 70px;
		display: block;
		opacity: 1;
	}
}

.section .section-2 .section2-consult {
	width: 240px;
	height: 60px;
	line-height: 60px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.section .section-2 .section2-consult a {
	font-size: 16px;
	line-height: 60px;
	display: block;
	width: 100%;
	color: #FFFFFF;
	background-color: #e50012;
	text-align: center;
	transition: 0.3s;
}

.section .section-2 .section2-consult a i {
	width: 20px;
	height: 18px;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: -2px;
	background: url(../../img/B2B/icon1.png) no-repeat left top;
}

.section .section-2 .section2-consult a:hover {
	background: #B50211;
}


.section .section-2 .section2-img {
	width: 40%;
	line-height: 100%;
	position: relative;
}

.section .section-2 .section2-img img {
	display: block;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.section .section-3 {
	width: 100%;
	padding: 0;
}

.section .section-3 ul {
	display: flex;
	flex-wrap: wrap;
}

.section .section-3 ul li {
	width: 25%;
	overflow: hidden;
	position: relative;
}

.section .section-3 ul li a {
	color: #FFFFFF;
}

.section .section-3 ul li .li-bg {
	width: 100%;
}

.section .section-3 ul li .li-bg img {
	width: 100%;
	display: block;
}

.section .section-3 ul li .li-content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0 15px;
	box-sizing: border-box;
	background: rgba(50, 50, 50, 0.9);
	transition: 0.8s;
}

.section .section-3 ul li .li-content div {
	position: absolute;
	width: 100%;
	padding: 0 15px;
	box-sizing: border-box;
	top: 50%;
	left: 0;
	top: 30%;
	transition: 0.5s;
}

.section .section-3 ul li .li-content div i {
	transition: 0.8s;
	display: block;
}

.section .section-3 ul li .li-content div i img {
	transform: scale(0.8);
}

.section .section-3 ul li .li-content div h3 {
	font-size: 18px;
	font-weight: normal;
	position: relative;
	margin-top: 60px;
	margin-bottom: 30px;
	transition: 0.4s;
}

.section .section-3 ul li .li-content div h3::before {
	content: "";
	display: block;
	width: 30px;
	height: 2px;
	position: absolute;
	left: 50%;
	top: -30px;
	transform: translateX(-50%);
	background: #fff;
	transition: 0.3s;
}

.section .section-3 ul li .li-content div P {
	font-size: 14px;
	width: 100%;
	text-align: left;
	opacity: 0;
	margin-top: 20px;
	transition: 0.4s;
}

.section .section-3 ul li .li-content div span {
	width: 120px;
	height: 38px;
	display: block;
	margin: 0 auto;
	text-align: center;
	line-height: 38px;
	border: 1px solid #fff;
	margin-top: 50px;
	opacity: 0;
	transition: 0.4s;
}

.section .section-3 ul li .li-content div span:hover {
	color: #E50012;
	background: #fff;
}

.section-4 {
	width: 100%;
	padding: 60px;
	padding-bottom: 20px;
	box-sizing: border-box;
	background: #F2F2F2;
}

.section-4 .section4-title {
	padding-bottom: 20px;
	border-bottom: 1px solid #E5E5E5;
}

.section-4 p {
	font-size: 16px;
	line-height: 30px;
	color: ##808080;
	padding-top: 10px;
}

.section .section-4 #container {
	width: 100%;
	height: 600px;
	overflow: hidden;
	position: relative;
}

.section .section-4 #container>div:nth-of-type(1) {
	width: 100% !important;
}

.section .section-5 {
	width: 100%;
	background: #444;
	padding: 60px;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.section-5 .section5-title {
	padding-bottom: 20px;
	border-bottom: 1px solid #606060;
}

.section-5 .section5-title h3 {
	color: #FFFFFF !important;
}

.section-5>p {
	font-size: 16px;
	line-height: 30px;
	color: #fff;
	padding-top: 10px;
}

.section-5 ul {
	display: flex;
	margin-top: 5%;
}

.section-5 ul li {
	width: 230px;
}

.section-5 ul li i {
	display: block;
	margin-bottom: 10px;
}

.section-5 ul li p {
	font-size: 16px;
	color: #FFFFFF;
}

.section-5 ul li p span {
	font-size: 40px;
	color: #e50012;
	line-height: 60px;
}

.section-5 .section5-map {
	width: 36%;
	position: absolute;
	right: 10%;
	top: 25%;
	z-index: -1;
}

.section-5 .section5-map img {
	display: block;
	width: 100%;
}

.section-6 {
	width: 100%;
	background: #F2F2F2;
}

.section-6 .section6-title {
	padding-bottom: 20px;
	border-bottom: 1px solid #E5E5E5;
}

.section-6>p {
	font-size: 16px;
	line-height: 30px;
	padding-top: 10px;
	color: #808080;
}

.section-6 ul {
	margin-top: 5%;
	width: 100%;
	display: flex;
}

.section-6 ul li {
	width: 25%;
	overflow: hidden;
	position: relative;
	background: #fff;
	transition: 0.5s;
}

.section-6 ul li:nth-of-type(2n) {
	background: #F9F9F9;
}

.section-6 ul li .li-bg {
	width: 100%;
	height: 210px;
	position: relative;
	z-index: 1;
}

.section-6 ul li:hover {
	box-shadow: 2px 7px 15px rgba(0, 0, 0, 0.2);
	z-index: 2;
}

.section-6 ul li:hover .li-title {
	background: rgba(225, 0, 0, 0.9);
}

.section-6 ul li .li-bg img {
	height: 100%;
	position: absolute;
	display: block;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	z-index: -11;
}

.section-6 ul li .li-title {
	position: absolute;
	width: 100%;
	height: 210px;
	left: 0;
	top: 0;
	background: rgba(45, 45, 45, 0.9);
	z-index: 1;
	text-align: center;
	color: #fff;
	font-size: 20px;
	transition: 0.5s;
}

.section-6 ul li .li-title i {
	display: block;
	margin-top: 70px;
}

.section-6 ul li .li-title span {
	line-height: 40px;
}

.section-6 ul li .li-bot {
	padding: 0 15px;
}

.section-6 ul li .li-bot p {
	font-size: 14px;
	line-height: 25px;
	color: #808080;
	padding-bottom: 20px;

}

.section-6 ul li .li-bot p:nth-of-type(2) {
	border-top: 1px solid #F7F7F7;
}

.section-6 ul li .li-bot span {
	font-size: 18px;
	color: #333;
	display: block;
	margin-bottom: 10px;
	padding-top: 20px;
}

.section-7 {
	width: 100%;
	background: #fff;
}

.section-7 .section7-title {
	padding-bottom: 20px;
	border-bottom: 1px solid #E5E5E5;
}

.section-7>p {
	font-size: 16px;
	line-height: 30px;
	padding-top: 20px;
	color: #808080;
}

.section-7 ul {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
}

.section-7 ul li {
	width: 25%;
	padding: 0 5%;
	border-right: 1px solid #EBEBEB;
	transition: 0.6s;
	box-sizing: border-box;
}

.section-7 ul li:nth-of-type(1) {
	padding-left: 0;
}

.section-7 ul li:nth-last-of-type(1) {
	border-right: 0;
}

.section-7 ul li p {
	font-size: 14px;
	color: #808080;
}

.section-7 ul li p span {
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 5px;
	display: block;
	color: #333;
}

.section-7 ul li:hover {
	transform: translateY(-10px);
}

.section-8 {
	width: 100%;
	background: url(../../img/B2B/img6.jpg) no-repeat center center;
	display: flex;
	flex-wrap: wrap;
}

.section-8 .title h3 {
	color: #fff !important;
}

.section-8 .section8-title {
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 1px solid #6B6B6B;
}

.section-8 .section8-content {
	width: 48%;
}

.section-8 .section8-content p {
	font-size: 16px;
	line-height: 30px;
	padding-top: 20px;
	color: #FFFFFF;
}

.section-8 .section8-content p:nth-of-type(2) {
	color: #e50012;
}

.section-8 .consult {
	width: 240px;
	height: 60px;
	line-height: 60px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.section-8 .consult a {
	font-size: 16px;
	line-height: 60px;
	display: block;
	width: 100%;
	color: #FFFFFF;
	background-color: #e50012;
	text-align: center;
	transition: 0.3s;
}

.section-8 .consult a i {
	width: 20px;
	height: 18px;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: -2px;
	background: url(../../img/B2B/icon1.png) no-repeat left top;
}

.section-8 .consult a:hover {
	background: #B50211;
}

.section-8 .questionnaire {
	width: 36%;
	max-width: 457px;

	margin-left: 8%;

}

.section-8 .questionnaire div {
	width: 100%;
	position: relative;
}

.section-8 .questionnaire img {
	display: block;
	width: 100%;
}

.section-8 .questionnaire span {
	position: absolute;
	font-size: 14px;
	color: #fff;
	display: block;
	width: 90px;
	line-height: 34px;
	transition: 0.5s;
}

.section-8 .questionnaire span i {
	display: block;
	width: 16px;
	height: 16px;
	background-color: #fff;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.4);
	transition: 0.5s;
}

.section-8 .questionnaire span:nth-of-type(1) {
	left: -13%;
	top: 13%;
}

.section-8 .questionnaire span:nth-of-type(2) {
	left: 89%;
	top: 41%;
}

.section-8 .questionnaire span:nth-of-type(3) {
	left: -12%;
	top: 68%;
}

.section-8 .questionnaire span:nth-of-type(4) {
	left: 33%;
	top: 97%;
}

.section-8 .questionnaire span i::after {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	background: rgba(225, 225, 225, 0.3);
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	animation: questionnaire 1s infinite;
}

@keyframes questionnaire {
	0% {
		width: 30px;
		height: 30px;
	}

	100% {
		width: 18px;
		height: 18px;
	}
}

.section-8 .questionnaire span strong {
	display: block;
	width: 60px;
	height: 60px;
	font-size: 20px;
	line-height: 60px;
	font-weight: normal;
	text-align: center;
	margin: 0 auto;
	border-radius: 50%;
	background: #e50012;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -20px;
	opacity: 0;
	transition: 0.5s;
	z-index: 1;
}

.section-8 .questionnaire span strong::before,
.section-8 .questionnaire span strong::after {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	border: 2px solid rgba(225, 0, 0, 0.2);
	z-index: -1;
}

.section-8 .questionnaire span strong::before {
	width: 60px;
	height: 60px;
	border: 5px solid rgba(225, 0, 0, 0.4);
}

.section-8 .questionnaire span:hover {
	transform: translateY(20px);
}

.section-8 .questionnaire span:hover i {
	opacity: 0;
}

.section-8 .questionnaire span:hover strong {
	opacity: 1;
	transform: translateY(-20px) translateX(-50%);
}

.section-9 {
	background: #F2F2F2;
	width: 100%;
}

.section-9 .section9-title {
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 1px solid #E5E5E5;
}

.section-9>ul {
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
}

.section-9>ul li {
	width: 33.33%;
	text-align: center;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	transition: 0.6s;
}

.section-9>ul li i {
	display: block;
}

.section-9>ul li span {
	display: block;
	padding: 15px 0;
	color: #333;
	font-size: 18px;
	transition: 0.6s;
}

.section-9>ul li.active span {
	color: #e50012;
}

.section-9>ul li.active {
	color: #e50012;
	border-bottom: 2px solid #e50012;
}

.section-9 .item-content {
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
	background: #FAFAFA;
}

.section-9 .item-content>div {
	display: none;
}

.section-9 .item-content>div>p {
	font-size: 16px;
	line-height: 30px;
	color: #808080;
}

.section-9 .item-content>div.active {
	display: block;
}

.section-9 .item-content div .item3-demo {
	width: 100%;
	margin-top: 20px;
	border: 1px solid #F0F0F0;
	display: flex;

}

.section-9 .item-content div .item3-demo .item3-left {
	width: 230px;
	padding-left: 50px;
	padding-top: 30px;
	border-right: 1px solid #F0F0F0;
	box-sizing: border-box;
}

.section-9 .item-content div .item3-demo .item3-left p {
	cursor: pointer;
	font-size: 16px;
	margin-bottom: 15px;
	color: #333;
	text-indent: 23px;
	transition: 0.7s;
	border-right: 2px solid transparent;
}

.section-9 .item-content div .item3-demo .item3-left p.active {
	color: #e50012;
	border-right: 2px solid #e50012;
}

.section-9 .item-content div .item3-demo .item3-left .P1 {
	background: url(../../img/B2B/b2b_icon5.png) no-repeat left center;
}

.section-9 .item-content div .item3-demo .item3-left .P2 {
	background: url(../../img/B2B/b2b_icon6.png) no-repeat left center;
}

.section-9 .item-content div .item3-demo .item3-left .P1.active {
	background: url(../../img/B2B/b2b_icon5_on.png) no-repeat left center;
}

.section-9 .item-content div .item3-demo .item3-left .P2.active {
	background: url(../../img/B2B/b2b_icon6_on.png) no-repeat left center;
}

.section-9 .item-content div .item3-demo .item3-right {
	background: #fafafa;
	padding: 3% 4%;
	width: calc(100% - 230px);
}

.section-9 .item-content div .item3-demo .item3-right h4 {
	font-size: 16px;
	color: #333;
	font-weight: normal;
}

.section-9 .item-content div .item3-demo .item3-right ul {
	width: 100%;
	padding-top: 2%;
	padding-right: 5%;
	display: flex;
	flex-wrap: wrap;
}

.section-9 .item-content div .item3-demo .item3-right ul li {
	padding-right: 40px;
	margin-bottom: 20px;
	height: 80px;
	width: 33.33%;
	box-sizing: border-box;
	text-align: center;
	background: url(../../img/B2B/img8.jpg) no-repeat right center, #FFFFFF;
	font-size: 14px;
	color: #333;
}

.section-9 .item-content .item3-demo .item3-right ul li:nth-last-of-type(1),
.section-9 .item-content .item3-demo .item3-right ul li:nth-of-type(3n) {
	background: url(../../img/B2B/img8_1.jpg) no-repeat right center, #FFFFFF;
}

.section-9 .item-content div .item3-demo .item3-right ul li span {
	font-family: 'Reznor';
	font-size: 60px;
	line-height: 60px;
	color: #e50012;
	display: block;
}

.section-9 .item-content div .item3-demo .item3-right p {
	font-size: 16px;
	color: #808080;
	line-height: 30px;
}

.section-9 .item-content div .item3-demo .item3-right>div {
	display: none;
}

.section-9 .item-content div .item3-demo .item3-right>div.active {
	display: block;
}

.section-10 {
	width: 100%;
	background: #FFFFFF;
}

.section-10 .section10-client {
	width: 100%;
}

.section-10 .section10-client ul {
	width: 100%;
	padding-top:2%;
	display: flex;
	flex-wrap: wrap;
}

.section-10 .section10-client ul li {
	width: 14.666%;
	margin: 1%;
	position: relative;
	cursor: pointer;
}

.section-10 .section10-client ul li .imgBg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	text-align: center;
	line-height: 60px;
	z-index: 2;
	background: #e50012;
	color: #FFFFFF;
	font-size: 14px;
	box-shadow: 0px 2px 20px rgba(225, 0, 0, 0.6);
	transition: 0.8s;
	opacity: 0;
}

.section-10 .section10-client ul li:hover .imgBg {
	opacity: 1;
}

.section-10 .section10-client ul li .logo {
	width: 100%;
	height: 60px;
	text-align: center;
	position: relative;
	border: 1px solid #F7F7F7;
}

.section-10 .section10-client ul li .logo img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	max-width: 90%;
	max-height: 90%;
}

.section-10 .section10-client ul li a {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}

.section-10 .section10-client ul li a::after {
	content: "";
	display: block;
	width: 36px;
	height: 35px;
	background: url(../../img/B2B/logo_icon1.png) no-repeat;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.8s;
}

.section-10 .section10-client ul li:hover a::after {
	opacity: 0;
}

@media screen and (max-width:1300px) {
	.section-9 .item-content div .item3-demo .item3-right ul li {
		width: 50%;
	}

	.section-9 .item-content div .item3-demo .item3-right ul li:nth-of-type(3n) {

		background: url(../../img/B2B/img8.jpg) no-repeat right center, #FFFFFF;
	}

	.section-9 .item-content div .item3-demo .item3-right ul li:nth-of-type(2n) {
		background: url(../../img/B2B/img8_1.jpg) no-repeat right center, #FFFFFF;
	}
}

@media screen and (max-width:1300px) and (min-width:992px) {
	.section .section-3 ul li .li-content div h3 {
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 16px;
	}

	.section .section-3 ul li .li-content div h3::before {
		top: -10px;
	}

	.section .section-3 ul li .li-content div p {
		font-size: 12px;
		margin-top: 0;
	}

	.section .section-3 ul li:hover .li-content div h3 {
		margin-top: 10px;
	}

	.section .section-3 ul li .li-content div span {
		margin-top: 15px;
		height: 30px;
		line-height: 30px;
		font-size: 12px;
	}


}

@media screen and (min-width:992px) {
	header {
		display: none;
	}

	.section {
		width: calc(100% - 180px);
		margin-left: 180px;
	}

	.section .section-3 ul li:hover .li-content {
		background: rgba(248, 1, 26, 0.9);
	}

	.section .section-3 ul li:hover .li-content div {
		top: 50%;
		transform: translateY(-50%);
	}

	.section .section-3 ul li:hover .li-content div i {
		transform: rotateY(360deg);
	}

	.section .section-3 ul li:hover .li-content div h3 {
		margin-top: 20px;
	}

	.section .section-3 ul li:hover .li-content div h3::before {
		opacity: 0;
	}

	.section .section-3 ul li:hover .li-content div p {
		opacity: 1;
	}

	.section .section-3 ul li:hover .li-content div span {
		opacity: 1;
	}

}


@media screen and (max-width:992px) {
	header {
		display: block;
	}

	.fixed-nav {
		display: none;
	}

	.section {
		width: 100%;
	}

	.section>div {
		padding: 5% !important;
	}

	.section>div .title h3 {
		font-size: 20px;
	}

	.section .section-1 {
		width: 100%;
		padding: 0 !important;
	}

	.section .section-1 .section1-title {
		left: 50px;
		margin-right: 50px;
	}

	.section .section-1 .section1-title h2 {
		font-size: 24px;
		line-height: 30px;
	}

	.section .section-1 .section1-title span {
		font-size: 20px
	}

	.section .section-1 .section1-title p {
		font-size: 16px
	}

	.section .section-2 {
		display: block;
	}

	.section2-title {
		padding-top: 5% !important;
	}

	.section .section-2 .section2-content {
		width: 100%;
	}

	.section .section-2 .section2-content .section2-review {
		padding: 20px 0;
	}

	.section .section-2 .section2-content ul {
		width: 100%;
		display: block;
	}

	.section .section-2 .section2-content ul li {
		width: 100%;
	}

	.section .section-2 .section2-content ul li span {
		text-align: left;
	}

	.section .section-2 .section2-content ul p {
		display: block;
		width: 100%;
		box-shadow: none;
		position: unset;
		padding: 0;
	}

	.section .section-2 .section2-content .section2-consult,
	.section .section-2 .section2-content .section2-consult a {
		width: 180px;
		height: 40px;
		line-height: 40px;
		margin: 30px auto;
	}

	.section .section-2 .section2-img {
		width: 100%;
		padding-bottom: 30px;
	}

	.section .section-2 .section2-img img {
		position: unset;
		max-width: 550px;
		margin: 0 auto;
		transform: none;
	}

	.section .section-3 {
		padding: 0 !important;
	}

	.section .section-3 ul li .li-content div {
		top: 50%;
		transform: translateY(-50%);
	}

	.section .section-3 ul li .li-content div i img {
		transform: scale(0.6);
	}

	.section .section-3 ul li .li-content div h3 {
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 16px;
	}

	.section .section-3 ul li .li-content div h3::before {
		top: -10px;
	}

	.section .section-3 ul li .li-content div p {
		font-size: 12px;
		margin-top: 0;
		opacity: 1;
	}

	.section .section-3 ul li .li-content div span {
		opacity: 1;
		height: 30px;
		line-height: 30px;
		font-size: 12px;
		margin-top: 30px;
	}

	.section-4 .section4-title span {
		font-size: 14px;
	}

	.section-4 p {
		font-size: 14px;
	}

	#container {
		display: none;
	}

	.section-5>p {
		font-size: 14px;
		line-height: 24px;
	}

	.section-5 ul li p {
		font-size: 12px;
	}

	.section-5 ul li span {
		font-size: 20px !important;
		line-height: 30px !important;
	}

	.section-5 .section5-map {
		display: none;
	}

	.section-6 ul {
		display: block;
	}

	.section-6 ul li {
		width: 100%;
	}

	.section-6 ul li .li-bg img {
		width: 100%;
		height: auto;
	}

	.section-6 ul li .li-bg,
	.section-6 ul li .li-title {
		height: 100px;
		overflow: hidden;
	}

	.section-6 ul li .li-title i {
		margin-top: 20px;
	}

	.section-6 ul li .li-title span {
		font-size: 16px;
		line-height: 24px;
	}

	.section-6 ul li .li-bot p {
		padding-bottom: 10px;
		line-height: 24px;
	}

	.section-6 ul li .li-bot p span {
		padding: 10px 0 0 0 !important;
		margin: 0 !important;
		font-size: 16px;
	}

	.section-7 ul li {
		width: 50%;
		padding: 0;
		border: 0;
		padding-right: 10px;
	}

	.section-7 ul li:nth-of-type(-n+2) {
		margin-bottom: 20px;
	}

	.section-7 ul li i img {
		transform: scale(0.8);
	}

	.section-8 .section8-content {
		width: 100%;
	}

	.section-8 .section8-content p {
		font-size: 14px;
		line-height: 24px;
	}

	.section-8 .consult,
	.section-8 .consult a {
		height: 40px;
		line-height: 40px;
		width: 180px;
		margin: 20px auto 0 auto;
	}

	.section-8 .questionnaire {
		display: none;
	}

	.section-9>ul {
		margin-top: 3%;
	}

	.section-9>ul li i img {
		transform: scale(0.6);
	}

	.section-9>ul li span {
		font-size: 12px;
		padding-top: 0;
	}

	.section-9 .item-content>div>p {
		font-size: 14px;
		line-height: 24px;
	}

	.section-9 .item-content div .item3-demo {
		display: block;
	}

	.section-9 .item-content div .item3-demo>div {
		width: 100% !important;
		box-sizing: border-box;
	}

	.section-9 .item-content div .item3-demo .item3-left {
		display: flex;
		background: #FFFFFF;
		border: 0;
		justify-content: space-around;
	}

	.section-9 .item-content div .item3-demo .item3-left {
		padding: 0;
	}

	.section-9 .item-content div .item3-demo .item3-left p {
		margin: 0;
		line-height: 40px;
		border: 0;
	}

	.section-9 .item-content div .item3-demo .item3-left p.active {
		border: 0;
	}

	.section-9 .item-content div .item3-demo .item3-right ul li {
		height: 50px;
		font-size: 12px;
	}

	.section-9 .item-content div .item3-demo .item3-right ul li span {
		font-size: 40px;
		line-height: 40px;
		height: 25px;
		overflow: hidden;
	}

	.section-9 .item-content div .item3-demo .item3-right h4,
	.section-9 .item-content div .item3-demo .item3-right p {
		font-size: 14px;
	}

	.section-10 .section10-client ul li {
		width: 48%;
	}
}

@media screen and (max-width:768px) {
	.section .section-3 ul li {
		width: 50%;
	}

	.section .section-3 ul li .li-content div p {
		text-align: center;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}

}
