/* 设置滚动条的样式 */
::-webkit-scrollbar {
	width: 6px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
	background: #CCCCCC;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
	background: #E50012;
}

body {
	overflow-x: hidden;
}

.section {
	width: calc(100% - 180px);
	margin-left: 180px;
}

.section {
	position: relative;
}

.section>div {
	padding: 60px;
	box-sizing: border-box;
}

.section>div .title {
	text-align: center;
}

.section>div .title h3 {
	font-size: 26px;
	font-weight: normal;
	color: #333;
}

.section>div .title span {
	font-size: 14px;
	color: #bfbfbf;
}

.section .section-1 {
	width: calc(100% - 180px);
	height: 100vh;
	background: url(../../img/e_commerce/img1e.jpg) no-repeat center center;
	background-size: cover;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
	padding: 0;
}

.section .section-1 .section1-title {
	position: absolute;
	top: 50%;
	left: 80px;
	transform: translateY(-50%);
	color: #fff;
}

.section .section-1 .section1-title h2 {
	font-size: 40px;
	line-height: 60px;
}

.section .section-1 .section1-title span {
	font-size: 30px;
	opacity: 0.4;
	display:block;
}

.section .section-1 .section1-title p {
	padding: 15px;
	margin-top: 10px;
	font-size: 20px;
	background-color: #e50012;
}

.section .section1-hint {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 16px;
	color: #fff;
}

.section .section1-hint span {
	width: 20px;
	height: 10px;
	display: block;
	background: url(../../img/e_commerce/scroll_down.png) no-repeat left top;
	margin: 0 auto;
	opacity: 0;
}


.section .section1-hint span:nth-of-type(1) {
	animation: firstSpan 1s infinite;
	margin-top: 10px;
}

.section .section1-hint span:nth-of-type(2) {
	animation: SecondSpan 1s infinite;
}

.section .section1-hint span:nth-of-type(3) {
	animation: ThirdSpan 1s infinite;
}

@keyframes firstSpan {
	0% {
		opacity: 0;
	}

	20% {
		opacity: .3;
	}

	40% {
		opacity: .3;
	}

	90% {
		opacity: .3;
	}

	100% {
		opacity: 0;
	}
}

@keyframes SecondSpan {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	40% {
		opacity: .3;
	}

	60% {
		opacity: .5;
	}

	90% {
		opacity: .5;
	}

	100% {
		opacity: 0;
	}
}

@keyframes ThirdSpan {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	40% {
		opacity: 0.2;
	}

	50% {
		opacity: 0.6;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.now-location {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 60px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.2);
	text-align: right;
	font-size: 12px;
	color: #fff;
}

.now-location i {
	background: url(../../img/e_commerce/common_icon3.png) no-repeat;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 10px;
	margin-bottom: -2px;
}

.now-location a {
	color: #fff;
}

.section-2 {
	margin-top: 100vh;
	background: url(../../img/e_commerce/img3e.png) no-repeat center center, #FEF6F6;
}

.section-2 p {
	text-align: center;
	padding-top: 4%;
	font-size: 16px;
	line-height: 26px;
	color: #333;
}

.section-2 .section2-img {
	position: relative;
	max-width: 43%;
	margin: 3% auto 0 auto;
}

.section-2 .section2-img>img:nth-of-type(1) {
	display: block;
	width: 100%;
	z-index: 4;
	position: relative;
}

.section-2 .section2-img>img:nth-of-type(2) {
	display: block;
	height: 50%;
	right: 50%;
	z-index: 1;
	animation: img2 8s infinite linear;
	transform-origin: 100% 100%;
}

@keyframes img2 {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}




.section-2 .section2-img>img:nth-of-type(2),
.section-2 .section2-img ul {
	position: absolute;
	top: 0;
}

.section-2 .section2-img ul {
	width: 100%;
	height: 100%;
	left: 0;
}

.section-2 .section2-img ul li {
	position: absolute;
}

.section-2 .section2-img ul li img {
	transform: scale(0.7);
}

.section-2 .section2-img ul li:nth-of-type(1) {
	left: 23%;
	top: 10%;
	animation: liImg 3s infinite;
}

.section-2 .section2-img ul li:nth-of-type(2) {
	left: 64%;
	top: 19%;
	animation: liImg 2.6s infinite;
}

.section-2 .section2-img ul li:nth-of-type(3) {
	left: 69%;
	top: 44%;
	animation: liImg 2.8s infinite;
}

.section-2 .section2-img ul li:nth-of-type(4) {
	left: 82%;
	top: 57%;
	animation: liImg 2.5s infinite;
}

.section-2 .section2-img ul li:nth-of-type(5) {
	left: 55%;
	top: 72%;
	animation: liImg 2.3s infinite;
}

.section-2 .section2-img ul li:nth-of-type(6) {
	left: 11%;
	top: 81%;
	animation: liImg 2.4s infinite;
}

.section-2 .section2-img ul li:nth-of-type(7) {
	left: 3%;
	top: 45%;
	animation: liImg 2.2s infinite;
}

@keyframes liImg {
	0% {
		transform: translateY(-10px);
	}

	50% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-10px);
	}

}


.section-3 {
	background: url(../../img/e_commerce/img6e.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.section-3 .title h3 {
	color: #FFFFFF !important;
}

.section-3 .section3-carousel {
	display: flex;
	justify-content: space-between;
	margin-top: 10%;
}

.section-3 .section3-carousel .carousel-left {
	width: 40%;
	position: relative;
	z-index: 3;
}

.section-3 .section3-carousel .carousel-left .prev,
.section-3 .section3-carousel .carousel-left .next {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid #fff;
	background: url(../../img/e_commerce/icon1-prev.png) no-repeat center center;
	cursor: pointer;
	transition: 0.6s;
}

.section-3 .section3-carousel .carousel-left .next {
	background: url(../../img/e_commerce/icon2-next.png) no-repeat center center;
}

.section-3 .section3-carousel .carousel-left .prev:hover,
.section-3 .section3-carousel .carousel-left .next:hover {
	border-color: #e50012;
}

.section-3 .section3-carousel .carousel-left .left-content {
	width: 304px;
	overflow: hidden;
}

.section-3 .section3-carousel .carousel-left .left-content ul {
	width: 800%;
	margin-top: 50px;
	margin-bottom: 140px;
	display: flex;
}

.section-3 .section3-carousel .carousel-left .left-content li {
	width: 304px;
	font-size: 30px;
	color: #FFFFFF;
	position: relative;
}

.section-3 .section3-carousel .carousel-left .left-content li::after {
	content: "";
	display: block;
	width: 32px;
	height: 2px;
	background: #e50012;
	position: absolute;
	bottom: -80px;
}

.section-3 .section3-carousel .carousel-right {
	width: 35vw;
	height: 35vw;
	border: 1px solid #e50012;
	border-left-color: transparent;
	border-radius: 50%;
	z-index: 3;
	position: relative;
}

.section-3 .section3-carousel .carousel-right ul {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.section-3 .section3-carousel .carousel-right ul li {
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #FFFFFF;

}

.section-3 .section3-carousel .carousel-right ul li span {
	position: absolute;
	color: #fff;
	font-size: 14px;
	width: 78px;
	cursor: pointer;
}

.section-3 .section3-carousel .carousel-right ul li:nth-of-type(n+6) span {
	bottom: -25px;
}

.section-3 .section3-carousel .carousel-right ul li:nth-of-type(1) span,
.section-3 .section3-carousel .carousel-right ul li:nth-of-type(2) span,
.section-3 .section3-carousel .carousel-right ul li:nth-of-type(3) span {
	bottom: 10px;
	left: -40px;
}

.section-3 .section3-carousel .carousel-right ul li:nth-of-type(3) span {
	left: 10px;
}

.section-3 .section3-carousel .carousel-right ul li:nth-of-type(4) span,
.section-3 .section3-carousel .carousel-right ul li:nth-of-type(5) span {
	left: 10px;
	bottom: 0px;
}

.section-3 .section3-carousel .carousel-right ul li:nth-of-type(1) {
	left: 14%;
	top: 14%;
}

.section-3 .section3-carousel .carousel-right ul li:nth-of-type(2) {
	left: 35%;
	top: 1.5%;
}

.section-3 .section3-carousel .carousel-right ul li:nth-of-type(3) {
	left: 66%;
	top: 2%;
}

.section-3 .section3-carousel .carousel-right ul li:nth-of-type(4) {
	left: 88%;
	top: 17.5%;
}

.section-3 .section3-carousel .carousel-right ul li:nth-of-type(5) {
	right: -0.5%;
	top: 50%;
}

.section-3 .section3-carousel .carousel-right ul li:nth-of-type(6) {
	right: 7%;
	top: 76%;
}

.section-3 .section3-carousel .carousel-right ul li:nth-of-type(7) {
	right: 27%;
	top: 94.5%;
}

.section-3 .section3-carousel .carousel-right ul li:nth-of-type(8) {
	right: 56%;
	top: 99%;
}

.section-3 .section3-carousel .carousel-right ul li:nth-of-type(9) {
	right: 85%;
	top: 85%;
}



.section-3 .section3-carousel .carousel-right .img {
	width: 80%;
	height: 80%;
	margin-left: 10%;
	margin-top: 10%;
	border-radius: 50%;
	overflow: hidden;
}

.section-3 .section3-carousel .carousel-right .img div {
	width: 800%;
	display: flex;
}

.section-3 .section3-carousel .carousel-right .img div img {
	display: block;
	width: 12.5%;
}

.section-3 .section3-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	left: 0;
	bottom: -22%;
	z-index: 1;
}

.section-3 .section3-mobile {
	display: none;
}

.section-4 {
	background: url(../../img/e_commerce/img15.jpg) no-repeat center center, #FFFFFF;
	background-size: 70%;
}

.section-4>p {
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	padding-top: 3%;
}

.section-4>p span {
	display: inline-block;
	padding: 0 15px;
	color: #BFBFBF;
	font-size: 12px;
}

.section-4 .section4-computer {
	width: 40%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	margin-top: 5%;
}

.section-4 .section4-computer img {
	display: block;
	width: 100%;
	position: relative;
	z-index: 1;
}

.section-4 .section4-computer .img-box {
	width: 75.5%;
	height: 82%;
	position: absolute;
	left: 50%;
	top: 6%;
	transform: translateX(-50%);
	z-index: 2;
	overflow: hidden;
}

.section-4 .section4-computer .img-box img {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	width: 100%;
}

.section-4 .section4-computer .img-box img.active {
	display: block;
}

.section-4>ul {
	width: 60%;
	max-width: 700px;
	display: flex;
	justify-content: space-between;
	margin: 2% auto;
	border-bottom: 1px solid #EEEEEE;
}

.section-4>ul li {
	font-size: 16px;
	color: #090909;
	padding-bottom: 15px;
	border-bottom: 2px solid transparent;
	cursor: pointer;
}

.section-4>ul li.active {
	border-bottom: 2px solid #e50012;
}

.section-4 .section4-content {
	text-align: center;
	font-size: 16px;
	color: #090909;
}

.section-4 .section4-content p {
	display: none;
}

.section-4 .section4-content p.active {
	display: block;
}

.section-4 .section4-mobile {
	display: none;
}

.section-5 {
	background: #F7F7F7;
}

.section-5 .section5-tab {
	display: flex;
	width: 80%;
	margin: 3% auto;
	justify-content: space-between;
}

.section-5 .section5-tab .item {
	font-size: 16px;
	color: #090909;
	padding-bottom: 15px;
	border-bottom: 2px solid transparent;
	cursor: pointer;
}

.section-5 .section5-tab .item.active {
	border-bottom: 2px solid #e50012;
}

.section-5 .section5-content {
	width: 100%;
}
.section-5 .section5-content .content-title{
	display:none;
}
.section-5 .section5-content .content1 ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.section-5 .section5-content .content1 ul li {
	width: 18%;
	text-align: center;
	background: #FFFFFF;
	padding: 3% 0;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	margin-bottom: 2%;
	transition: 0.5s;
}

.section-5 .section5-content .content1 ul li img {
	height: 40px;
}

.section-5 .section5-content .content1 ul li h4 {
	font-size: 16px;
	color: #333;
	font-weight: normal;
	line-height: 30px;
	padding-top: 10px;
}

.section-5 .section5-content .content1 ul li p {
	font-size: 12px;
	line-height: 16px;
	padding-bottom: 10px;
	color: #666666;
}

.section-5 .section5-content .content1 ul li:hover {
	transform: translateY(-10px);
}

.section-5 .section5-content .content2 {
	width: 100%;
}

.section-5 .section5-content .content2 .bg-img {
	max-height: 490px;
	width: 33%;
	display: block;
	margin: 50px auto;
	position: relative;
}

.section-5 .section5-content .content2 .bg-img>img {
	display: block;
	width: 100%;
}

.section-5 .section5-content .content2 .bg-img ul {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.section-5 .section5-content .content2 .bg-img ul li {
	position: absolute;
}

.section-5 .section5-content .content2 .bg-img ul li i {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #e50012;
	line-height: 46px;
	text-align: center;
}

.section-5 .section5-content .content2 .bg-img ul li h4 {
	font-size: 14px;
	color: #222;
}

.section-5 .section5-content .content2 .bg-img ul li p {
	font-size: 14px;
	line-height: 22px;
	color: #222;
	width: 250px;
}

.section-5 .section5-content .content2 .bg-img ul li:nth-of-type(1) {
	left: -2%;
	top: 15%;
}

.section-5 .section5-content .content2 .bg-img ul li:nth-of-type(1) h4 {
	transform: translateX(13%);
}

.section-5 .section5-content .content2 .bg-img ul li:nth-of-type(1) p {
	transform: translateX(-100%) translateY(-180%);
}

.section-5 .section5-content .content2 .bg-img ul li:nth-of-type(2) {
	left: -2%;
	top: 66%;
}

.section-5 .section5-content .content2 .bg-img ul li:nth-of-type(2) h4 {
	transform: translateX(26%) translateY(-100%);
}

.section-5 .section5-content .content2 .bg-img ul li:nth-of-type(2) p {
	transform: translateX(-100%) translateY(-180%);
}


.section-5 .section5-content .content2 .bg-img ul li:nth-of-type(3) {
	left: 43%;
	top: 91%;
}

.section-5 .section5-content .content2 .bg-img ul li:nth-of-type(3) p {
	transform: translateX(-20%);
}

.section-5 .section5-content .content2 .bg-img ul li:nth-of-type(4) {
	left: 86%;
	top: 66%;
}

.section-5 .section5-content .content2 .bg-img ul li:nth-of-type(4) h4 {
	transform: translateX(-26%) translateY(-100%);
}

.section-5 .section5-content .content2 .bg-img ul li:nth-of-type(4) p {
	transform: translateX(30%) translateY(-115%);
}


.section-5 .section5-content .content2 .bg-img ul li:nth-of-type(5) {
	left: 83%;
	top: 16%;
}

.section-5 .section5-content .content2 .bg-img ul li:nth-of-type(5) h4 {
	transform: translateX(-23%);
}

.section-5 .section5-content .content2 .bg-img ul li:nth-of-type(5) p {
	transform: translateX(30%) translateY(-175%);
}

.section-5 .section5-content .content3 {
	display: flex;
	padding: 50px 0;
	justify-content: space-between;
}

.section5-content .content3 .content3-left,
.section5-content .content3 .content3-right {
	width: 35%;
	position: relative;
}

.section5-content .content3 .content3-left ul,
.section5-content .content3 .content3-right ul {
	display: flex;
	justify-content: space-between;
}

.section5-content .content3 ul li {
	font-size: 14px;
	color: #222;
	line-height: 25px;
	position: relative;
}

.section5-content .content3 .content3-left ul li:nth-of-type(-n+2)::after {
	content: "";
	display: block;
	width: 110%;
	height: 10px;
	background: url(../../img/e_commerce/icon84.png) no-repeat right center;
	position: absolute;
	right: -132%;
	top: 60%;
}

.section5-content .content3 .content3-left ul li:nth-of-type(3)::after,
.section5-content .content3 .content3-left ul li:nth-of-type(3)::before,
.section5-content .content3 .content3-right ul li:nth-of-type(1)::after,
.section5-content .content3 .content3-right ul li:nth-of-type(1)::before {
	content: "";
	display: block;
	width: 70px;
	height: 70px;
	background: url(../../img/e_commerce/icon85.png) no-repeat right top;
	position: absolute;
	background-size: 100%;
	left: 36%;
	top: -130%;
}

.section5-content .content3 .content3-left ul li:nth-of-type(3)::before {
	transform: rotateX(180deg);
	top: 100%;
}

.section5-content .content3 ul i {
	display: block;
	height: 35px;
}

.section5-content .content3 ul i img {
	display: block;
	margin: 0 auto;
	height: 100%;
}

.section5-content .content3 .content3-cant {
	width: 13%;
	text-align: center;
	padding: 3% 0;
	border: 1px dashed #D4D4D4;
}

.section5-content .content3 .content3-cant ul h3 {
	color: #e50012;
	font-size: 20px;
}

.section5-content .content3 .content3-cant ul li:nth-of-type(-n+2) {
	margin-bottom: 30px;
}

.section5-content .content3 .content3-right ul li:nth-of-type(1)::before {
	transform: rotateY(180deg);
	left: -78%;
}

.section5-content .content3 .content3-right ul li:nth-of-type(1)::after {
	transform: rotateY(180deg) rotateX(180deg);
	left: -78%;
	top: 100%;
}

.section5-content .content3 .content3-right ul li:nth-of-type(2)::after,
.section5-content .content3 .content3-right ul li:nth-of-type(3)::after {
	content: "";
	display: block;
	width: 110%;
	height: 10px;
	background: url(../../img/e_commerce/icon84.png) no-repeat right center;
	position: absolute;
	top: 60%;
	left: -150%;
}

.section5-content .content3 .content3-left ul,
.section5-content .content3 .content3-right ul {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}
.section-6{
	background:#FFFFFF;
}
.section-6 ul{
	padding-top:5%;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.section-6 ul li{
	width:32%;
	transition:0.5s;
}
.section-6 ul li span{
	display:block;
	width:100%;
	height:180px;
	border:1px solid #EEEEEE;
	position:relative;
	transition:0.5s;
}
.section-6 ul li img{
	max-width: 80%;
	max-height: 80%;
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	transform:translateX(-50%) translateY(-50%);
}
.section-6 ul li p{
	font-size:14px;
	color:#333333;
	line-height:26px;
	padding:10% 0;
}
.section-6 ul li:hover{
	transform:translateY(-10px);
}
.section-6 ul li:hover span{
	border-color:#E50012;
}
@media screen and (min-width:992px) {
	.section-5 .section5-content>div {
		display: none !important;
	}

	.section-5 .section5-content>div.active {
		display: flex !important;
	}
}

@media screen and (max-width:992px) {
	.section {
		width: 100%;
		margin-left: 0;
	}

	.section>div {
		padding: 5%;
	}

	.title h3 {
		font-size: 20px !important;

	}

	.section .section-1 {
		width: 100% !important;
	}

	.section .section-1 .section1-title {
		left: 50px;
		margin-right: 50px;
	}

	.section .section-1 .section1-title h2 {
		font-size: 24px;
		line-height: 30px;
	}

	.section .section-1 .section1-title span {
		font-size: 20px
	}

	.section .section-1 .section1-title p {
		font-size: 16px
	}

	.section-2 p {
		font-size: 14px;
		line-height: 24px;
		text-align: left;
	}

	.section-2 .section2-img {
		max-width: 80%;
	}

	.section-2 .section2-img ul li img {
		transform: scale(0.8);
	}

	.section-3 .section3-carousel,
	.section-3 .section3-bg {
		display: none;
	}

	.section-3 .section3-mobile {
		display: block;
		display: flex;
		flex-wrap: wrap;
	}

	.section-3 .section3-mobile p {
		width: 48%;
		margin: 1%;
		text-align: center;
		font-size: 14px;
		color: #fff;
		margin-bottom: 2%;
	}

	.section-3 .section3-mobile p img {
		display: block;
		width: 100%;
	}

	.section-4>p {
		font-size: 14px;
		line-height: 24px;
	}

	.section-4 .section4-computer,
	.section-4>ul,
	.section-4 .section4-content {
		display: none;
	}

	.section-4 .section4-mobile {
		width: 100%;
		display:block;
	}

	.section-4 .section4-mobile ul {
		display: flex;
		flex-wrap: wrap;

	}

	.section-4 .section4-mobile ul li {
		width: 48%;
		margin: 1%;
		font-size: 12px;
		line-height: 18px;
		text-align: center;
	}

	.section-4 .section4-mobile ul li img {
		display: block;
		width: 100%;
	}

	.section-4 .section4-mobile ul li h4 {
		font-size: 14px;
		font-weight: normal;
	}
	.section5{
		background:#F7F7F7 ;
	}

	.section5-tab {
		display: none !important;
	}

	.section5-content>div {
		display: block !important;
		background:#FFFFFF;
	}
	.section-5 .section5-content .content-title{
		display:block;
		text-align:center;
		font-size:16px;
		font-weight:normal;
		color:#333;
		line-height:50px;
	}
	.section5-content .content1{
		margin-top:2%;
		padding:0 3%;
	}
	.section5-content .content1 ul li{
		width:49%!important;
	}
	.section5-content .content1 ul li h4{
		font-size:14px;
	}
	.section5-content .content1 ul li p{
		font-size:12px;
	}
	.section5-content .content2{
		margin-top:2%;
		padding-bottom:2%;
	}
	.section5-content .content2 .bg-img{
		width:100%!important;
		margin:0!important;
	}
	.section5-content .content2 .bg-img>img{
		display:none!important;
	}
	.section5-content .content2 .bg-img ul,
	.section5-content .content2 .bg-img ul li{
		position:unset!important;
	}
	.section5-content .content2 .bg-img ul li h4,
	.section5-content .content2 .bg-img ul li p{
		transform:none!important;
		display:block!important;
		width:100%!important;
	}
	.section5-content .content2 .bg-img ul li{
		display:flex;
		margin:2% 0;
	}
	.section5-content .content2 .bg-img ul li i{
		width:40px!important;
		height:40px!important;
		line-height:35px!important;
		display:inline-block!important;
		margin:0 2%;
	}
	.section5-content .content2 .bg-img ul li i img{
		transform:scale(0.8);
	}
	.section5-content .content3{
		padding:0!important;
		margin-top:2%;
		padding-bottom:2%!important;
	}
	.section5-content .content3>div{
		width:100%!important;
		margin:2% 0;
	}
	.section5-content .content3>div:nth-of-type(2){
		display:none;
	}
	.section5-content .content3 ul{
		display:flex;
		width:100%;
		position:unset!important;
		transform:none!important;
	}
	.section5-content .content3 ul li::after,
	.section5-content .content3 ul li::before{
		display:none!important
	}
	.section5-content .content3 ul li{
		width:33.33%;
		text-align:center;
	}
	
	.section-6 ul li{
		width:48%;
	}
	.section-6 ul li span{
		height:80px;
	}
	.section-6 ul li p{
		padding:5% 0;
	}

}

@media screen and (max-width:480px) {
	.section-2 .section2-img {
		max-width: 100%;
	}

	.section-2 .section2-img ul li img {
		transform: scale(0.6);
	}
}
